<h2>Sources and Credits</h2>

    <p>I  used many images and free icons in this email template.</p>
    <h3>Images</h3>
    <P>Many thanks to <a href="http://lorempixel.com/">http://lorempixel.com/</a>, —&ldquo;Placeholder Images for every case. Webdesign or Print. It&rsquo;s simple and absolutely free! &ldquo;</P>
    <P><a href="http://www.flickr.com/">flickr</a>: Many Thanks to:<a href="http://www.flickr.com/photos/hansel5569/">hansel5569</a>,<a href="http://www.flickr.com/photos/smanography/"> smanography</a>,<a href="http://www.flickr.com/photos/needoptic/">needoptic</a>,<a href="http://www.flickr.com/photos/astragony/">astragony</a></P>
    <h3>Textures</h3>
    <p>Textures by <a href="http://subtlepatterns.com">subtlepatterns.com</a></p>
    <h3>Icons</h3>
    <p>Free icons  by:<a href="http://www.smashingmagazine.com/2011/12/29/freebie-free-vector-web-icons-91-icons/">Free Vector Web Icons</a>,<a href="http://www.smashingmagazine.com/2012/11/03/free-glyph-set-entypo-eps-pdf-psd-web-font/">Entypo Glyph Set</a></p>
    <h3>Google Web Fonts</h3>
    <p>Free Google Web Fonts : Questrial</p>
