<h2>Html structure</h2>
<h3>Inline CSS version strcture pages :</h3>
<p>You can&nbsp;find inline css prebuild&nbsp;layouts strcture file ( named like *-inline.html format ) in every theme folder.
<h3>Mailchimp version pages:</h3>
<p>You&nbsp;can download Mailchimp version email page.</p>
<h3>CampaignMonitor version pages:</h3>
<p>You&nbsp;can download CampaignMonitor version email page.</p>
<hr />
<h2>File structure</h2>
<h3>In your template zip file:</h3>
<p><img src="ajax/images/file-structure.jpg" alt="file structure" /></p>
<h3>Each theme comes with this file structure:</h3>
<p>The template pages are in the [html] folder.</p>
<p><img src="ajax/images/version.jpg" alt="version" /></p>
<p>All images are in the images folder. For each layout you get prebuild different html layout files and diffrent structure file and one all moduls in one pages:</p>
<ul>
  <li><strong>layoutname-inline.html</strong> (is the structure file with inline CSS, please do not use them to send your campaign.)</li>
  <li><strong>all-inline.html</strong> (is the all modules in one structure file)</li>
  <li><strong>all-embeded.html</strong> (is the all modules in one structure file with embeded css)</li>
</ul>
<h3>PSD/PNG Files</h3>

    <p>The PSD files and PNG files are in the [psd_png] folder. </p>
    <p><img src="ajax/images/psdfile.jpg" alt="psd-files" /></p>
    <p>All PSD files and PNG files are in the folder.</p>