<h2>Edit the font style( google fonts API )</h2>
<h3>Input your favourate google fonts API</h3>
<p><img src="ajax/images/input-api.jpg" width="236" height="227" /></p>
<p>Top bar / Header / Modules / Page BG / Page FG / Border, you can change every editable color to match your need. Title Color and Fonts Color can edit too!</p>
<h3>change font family and font weight</h3>
<p><img src="ajax/images/gont-style.jpg" width="236" height="227" /></p>
<p>Click the color/title will show the color drag circle, You can drag the focus lable or input color value to change the color, do not forget the '#'.</p>