﻿          <h2>Template Info</h2>
          <p>Template Name: <strong>B&M</strong>, version: 1.2 (with builder v3), Created by digith.net, email: <strong>digith@outlook.com</strong>. If you have any questions that are beyond the scope of this help file, please feel free to send me an email, </p><p>Thanks so much!</p>
          <h3>Note:</h3>
          <p>If you <strong>can not see the content</strong> by click the tabs, pls use chrome or other webkit browser to see the guide! </p>
          <br />
          <hr />
          <h2>With Best Email Template Builder, Very easy to creat your own email page.</h2>
          <img src="ajax/images/welcome.png" width="1090" height="790" />
          <br />
          <hr />
          <h2>General introduction</h2>
          <h3>Using Template builder to creat your own pages.</h3>
          <p>The Template includes many prebuild layouts and color schemes. But if you want to get all the potential of the template, please use<strong> Template Builder.</strong>You can get&nbsp; '<strong>inline&nbsp;css version</strong>', '<strong>mailchimp version</strong>' and '<strong>campaignmonitor version</strong>' of every page, </p>
          <h3>Compatibility</h3>
          <p>I have tested in Mailchimp Inbox Inspector ( using litmus ) on this template and made a list of supporter clients and services:
            Compatible with all major email clients and sites:
          • AOL Mail 
          • Gmail 
          • Hotmail • Yahoo! Mail • iPad Mail • Symbian • Windows Phone7 • Android 2.3 4.0 • iPhone mail • Outlook.com • Thunderbird 3.0 • Lotus Notes 8 • outlook 2003,2007,2010 • Apple Mail 4 5 6 • Windows Live Mail • Outlook 2011 on Mac OS…</p>