<h2>Design your own theme</h2>
<h3>Elements</h3>
<p>&raquo;<strong> Using elements.psd</strong> to modify the icons and other elements.</p>
<p><img src="ajax/images/elements.png"/></p>
<p>&raquo;<strong>Using header-bg.psd</strong> &amp; <strong>header-bg2.psd </strong>to modify the header background images</p>
      <p><img src="ajax/images/header-bg1.png"/></p>
      <p><img src="ajax/images/header-bg2.png"/></p>
<h3>Add a custom color</h3>
    <p><strong>Modify the color value:</strong></p>
    <p>- If you need your own color follow these steps: Get the hex value of your color , Created your layout , then download the page, and you can edit&nbsp;the color value by using some editor ( e.g dreamweaver, notepad++...)</p>
<p>- Using Template builder to set the color in realtime.</p>