/* Some reset */
.rslPlayer, .rslPlayer * { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rslPlayer {
	font-size: 24px;
	color: white;
	font-family: Arial;
	background: #222;
/*	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
*/
	overflow: hidden;
}

.rslPlayer .mainPlayer {
	width: 100%;
	height: 100%;
	position: absolute;
}

.rslPlayer .albumCover { top: 0px; left: 0px; position: absolute; }

.rslPlayer .albumCoverShine {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url('images/coverShine.png') no-repeat center center;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
	position: absolute;
}

.rslPlayer .artistNameLabel {
	font-size:1em;
	font-weight: bold;
	top: 5%;
	left: 0px;
	padding: 1px 3% 1px 3%;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	position: absolute;
}

.rslPlayer .artistNameLabelSub {
	font-weight: normal;
	font-size:0.66em;
}

.rslPlayer .buttonPlay {
	top: 50%;
	left: 50%;
	width: 14%;
	height: 14%;
	background: url('images/btnPlay.png') top left no-repeat;
	background-size: 100% 100%;
	margin: -7% 0 0 -7%;
	cursor: pointer;
	position: absolute;
}

.rslPlayer .buttonPlay:hover {
	background: url('images/btnPlayOver.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .buttonPlay:active {
	background: url('images/btnPlayActive.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .buttonContainer {
	top: 5%;
	right: 0px;
	width: 50%;
	position: absolute;
}


.rslPlayer .buttonRight {
	margin-bottom: 2px;
	float: right;
	clear: right;
	display: block;
	color: white;
	cursor: pointer;
	padding: 1px 3% 1px 3%;
	text-align: right;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	font-size: 0.79em;
	position: relative;
}

.rslPlayer .buttonRight:hover {
	color: #009cff;
}

.rslPlayer .buttonLogo {
	width: 22%;
	height: 4.1%;
	background: url('images/logoAmplify.png') center center no-repeat;
	background-size: 90%;
	cursor: pointer;
	padding: 0px 0px;
	bottom: 3%;
	right: 3%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
}

.rslPlayer .playerLogo {
	width: 50%;
	height: 50%;
}

/*
.rslPlayer .trackContainer {
	top: 80%;
	left: 0px;
	width: 100%;
	height: 12px;
	padding: 3px 0 2px 0;
	position: absolute;
}

.rslPlayer .trackNameLabel {
	font-size: 12px;
	top: 0px;
	left: 6%;
	position: absolute;
}
*/

.rslPlayer .bannerContainer {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: white;
	height: 10%;
	width: 80%;
	left: 10%;
	bottom: 11%;
	overflow: hidden;
	position: absolute;
}

.rslPlayer .bannerLink {
	border: 0;
	margin: 0 auto;
	position: relative;
}

.rslPlayer .bannerImage {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.rslPlayer .trackTimeLabel {
	font-size:0.79em;
	left: 3%;
	bottom: 3%;
	position: absolute;
}

.rslPlayer .playTrack {
	background: url('images/placeholderWaveBack.png') top left no-repeat;
	background-size: cover;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -10.75%;
	height: 21.5%;
	cursor: pointer;
	position: absolute;
}

.rslPlayer .playTrackOver {
	background: url('images/placeholderWaveFront.png') top left no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	overflow: hidden;
	position: absolute;
}

.rslPlayer .playScrub {
	background: rgba(0, 0, 0, 0);
	top: 50%;
	left: 0;
	width: 4px;
	margin-top: -10.75%;
	height: 21.5%;
	cursor: pointer;
	position: absolute;
}



/* ---------  Share Layout  --------- */

.rslPlayer .shareButtons {
	width: 100%;
	height: 66%;
	position: absolute;
}

.rslPlayer .shareButtons .buttonShareClose {
	height: 7.5%;
}

.rslPlayer .shareButtons .title {
	font-size: 1.66em;
	top: 5%;
	width: 100%;
	text-align: center;
	position: absolute;
}

.rslPlayer .shareButtons .shareButtonBar {
	height: 100%;
	width: 100%;
	position: absolute;
}

.rslPlayer .shareButtons .topButtonBar {
	left: 16%;
	top: 25%;
}

.rslPlayer .shareButtons .bottomButtonBar {
	left: 25%;
	top: 57%;
}

.rslPlayer .shareButtons .shareButton {
	width: 16.6%;
	height: 25%;
	display: inline;
	margin-right: 3px;
	position: relative;
	cursor: pointer;
	float: left;
} 

.rslPlayer .shareButtons .buttonShareFacebook {
	background: url('images/btnShareFacebook.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareFacebook:hover {
	background: url('images/btnShareFacebookOver.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareTwitter {
	background: url('images/btnShareTwitter.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareTwitter:hover {
	background: url('images/btnShareTwitterOver.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareTumbler {
	background: url('images/btnShareTumbler.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareTumbler:hover {
	background: url('images/btnShareTumblerOver.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareInstagram {
	background: url('images/btnShareInstagram.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareInstagram:hover {
	background: url('images/btnShareInstagramOver.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareLink {
	background: url('images/btnShareLink.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareLink:hover {
	background: url('images/btnShareLinkOver.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareEmail {
	background: url('images/btnShareMail.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareEmail:hover {
	background: url('images/btnShareMailOver.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareEmbed {
	background: url('images/btnShareEmbed.png') top left no-repeat;
	background-size: 100% 100%;
} 

.rslPlayer .shareButtons .buttonShareEmbed:hover {
	background: url('images/btnShareEmbedOver.png') top left no-repeat;
	background-size: 100% 100%;
} 



/* ---------  Track Layout  --------- */

.rslPlayer .trackListContainer {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.rslPlayer .trackListContainer .buttonTrackClose {
	height: 5%;
}

.rslPlayer .trackListContainer .albumIcon {
	top: 1.3%;
	left: 1.3%;
	height: 5%;
	width: 19%;
	height: 19%;
	background: top left no-repeat;
	background-size: 100% 100%;
	position: absolute;
}

.rslPlayer .trackListContainer .trackListLabel {
	top: 1%;
	left: 23.75%;
	font-size: 1.625em;
	font-weight: bold;
	position: absolute;
}


.rslPlayer .trackListContainer .buyContainer {
	top: 14.5%;
	right: 0;
	width: 79%;
	height: 5.8%;
	vertical-align: middle;
	background-color: #2b2b2b;
	position:absolute;
}

.rslPlayer .trackListContainer .buyLabel {
	left: 3.75%;
	line-height: 100%;
	font-size: 0.79em;
	top: 50%;
	margin-top: -0.5em;
	position:absolute;
}

.rslPlayer .trackListContainer .buyButtonContainer {
	left: 33%;
	top: 50%;
	margin-top: -3.2%;
	height: 85%;
	width: 67%;
	position: absolute;
}

.rslPlayer .trackListContainer .buttonBuy {
	top: 0;
	height: 100%;

	margin-right: 8%;
	float: left;
	display: inline;
	position: relative;
	cursor: pointer;
}

.rslPlayer .trackListContainer .buttonBuyItunes {
	left: 0;
	width: 24%;
	background: url('images/btnBuyItunes.png') top left no-repeat;
	background-size: cover;
}

.rslPlayer .trackListContainer .buttonBuyAmazon {	
	width: 9.375%;
	background: url('images/btnBuyAmazon.png') top left no-repeat;
	background-size: cover;
}

.rslPlayer .trackListContainer .buttonBuyEmusic {
	width: 32.8125%;
	background: url('images/btnBuyEMusic.png') top left no-repeat;
	background-size: cover;
}

.rslPlayer .trackListContainer .buttonBuyEmusic {
	width: 32.8125%;
	background: url('images/btnBuyEMusic.png') top left no-repeat;
	background-size: cover;
}

/*-- Track List --*/
.rslPlayer .trackListContainer .trackListMenuContainer{
	top: 25.83%;
	left: 1.5%;
	width: 96%; /*-- 576px --*/
	height: 35%;
	overflow-y: scroll;
	 -webkit-overflow-scrolling: touch;
	background: black;
	position: absolute;
}

.rslPlayer .trackListContainer .trackListMenu{
	top: 0;
	left: 0;
	width: 100%; /*-- 576px --*/
	min-height: 100%;
	color: #747474;
	position: relative;
}

.rslPlayer .trackListContainer .trackListItem {
	font-size: .58em;
	height: 14.3%;
	width: 100%;
	cursor: pointer;
	position: relative;
}

.rslPlayer .trackListContainer .trackListItem:hover { color: #0081e7; }
.rslPlayer .trackListContainer .trackListItem > * { position: absolute; top: 50%; margin-top: -.58em;}
.rslPlayer .trackListContainer .trackNum { left: 2.6%; }
.rslPlayer .trackListContainer .trackName { left: 8.7%; }
.rslPlayer .trackListContainer .trackDuration { left: 67%; }
.rslPlayer .trackListContainer .trackLink { left: 87%; color: #747474; text-decoration: none; }
.rslPlayer .trackListContainer .trackLink:hover { color: #0081e7; text-decoration: underline; }

.rslPlayer .trackListContainer .trackListMenuTrack {
	top: 25.83%;
	right: 1.2%;
	width: 1.4%;
	height: 35%;
	background-color: #272727;
	cursor: pointer;
	position: absolute;
}

.rslPlayer .trackListContainer .btnListMenuScrub {
	top: 25.83%;
	right: 1.2%;
	width: 1.4%;
	height: 8%;
	cursor: pointer;
	background-color: #007fd5;
	position: absolute;
}


.rslPlayer .trackListContainer .controlContainer {
	top: 65%;
	left: 50%;
	margin-left: -19%;
	width: 38%;
	height: 12.83%;
	position:absolute;
}

.rslPlayer .trackListContainer .buttonTrackControl {
	top: 0;
	cursor: pointer;
	position:absolute;
}

.rslPlayer .trackListContainer .buttonTrackPrev {
	background: url('images/btnTrackPrev.png') top left no-repeat;
	background-size: 100% 100%;
	width: 28%;
	height: 83.71%;
	left: 0;
	top: 50%;
	margin-top: -12.83%;
	position:absolute;
}

.rslPlayer .trackListContainer .buttonTrackPrev:hover {
	background: url('images/btnTrackPrevOver.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .trackListContainer .buttonTrackPrev:active {
	background: url('images/btnTrackPrevActive.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .trackListContainer .buttonTrackPlay {
	background: url('images/btnTrackPlay.png') top left no-repeat;
	background-size: 100% 100%;
	left: 50%;
	margin-left: -17.325%;
	height: 100%;
	width: 34.65%;
	position:absolute;
}

.rslPlayer .trackListContainer .buttonTrackPlay:hover {
	background: url('images/btnTrackPlayOver.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .trackListContainer .buttonTrackPlay:active {
	background: url('images/btnTrackPlayActive.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .trackListContainer .buttonTrackNext {
	background: url('images/btnTrackNext.png') top left no-repeat;
	background-size: 100% 100%;
	width: 28%;
	height: 83.71%;
	right: 0;
	top: 50%;
	margin-top: -12.83%;
	position:absolute;
}

.rslPlayer .trackListContainer .buttonTrackNext:hover {
	background: url('images/btnTrackNextOver.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .trackListContainer .buttonTrackNext:active {
	background: url('images/btnTrackNextActive.png') top left no-repeat;
	background-size: 100% 100%;
}




/* Universal Styling */

.rslPlayer .buttonClose {
	cursor: pointer;
	top: 2%;
	right: 3%;
	width: 5%;
	background: url('images/btnClose.png') top left no-repeat;
	background-size: 100% 100%;
	position: absolute;	
}

.rslPlayer .buttonClose:hover {
	background: url('images/btnCloseOver.png') top left no-repeat;
	background-size: 100% 100%;
}

.rslPlayer .colorYellow { color: #ffffbf; }
.rslPlayer .colorBlue { color: #0081e7; }
.rslPlayer .colorGrey { color: #999; }
.rslPlayer .backTrackLight { background-color: #111111; }
.rslPlayer .backTrackDark { background-color: #000000; }
.rslPlayer .backBlue { background: #0081e7; }
.rslPlayer .backBlack { background-color: rgba(0, 0, 0, 0.83); }
.rslPlayer .backGrey { background-color: rgba(36, 36, 43, 0.4); }