/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */
body {
  height: 100%;
  background-color: #252b33;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  position: relative;
}
html {
  min-height: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #8e9aa4;
}
a:hover {
  text-decoration: none;
  color: #25323f;
}
a:focus {
  outline: none;
}
a i {
  font-size: 18px;
}
strong {
  color: #8e9aa4;
}
textarea {
  resize: none;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #252b33;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6c7a8c;
  margin: 0;
  font-weight: 300;
  color: #8e9aa4;
  padding-bottom: 15px;
}
.spacer {
  height: 20px;
  display: block;
}
input:focus {
  outline: none !important;
}
.responsive-menu {
  display: none;
}
.responsive-menu-trigger {
  display: none !important;
  position: absolute;
  top: 25px;
  right: 20px;
}
.responsive-menu-trigger:after {
  content: '\f039';
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #fff;
}
/**** BreadCrumb ****/
.breadcrumb {
  background: transparent;
  border-radius: 0px;
  border-top: 0px solid #e6e6e6;
  margin-bottom: 0px;
}
.breadcrumb i {
  font-size: 16px;
}
.breadcrumb a {
  color: #8e9aa4;
}
.breadcrumb li.active {
  color: #ff503f;
  font-weight: bold;
}
.breadcrumb > li + li:before {
  content: '\f054';
  font-family: 'FontAwesome';
  color: #8e9aa4;
  font-size: 10px;
  font-weight: 300;
}
/**** Left Sidebar ****/
.sidebar {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.sidebar-collapsed .sidebar {
  width: 50px;
}
.sidebar-collapsed .sidebar-user-profile {
  display: none;
}
.sidebar-collapsed .sidebar .main-menu li span,
.sidebar-collapsed .sidebar .main-menu li ul.submenu {
  display: none;
}
.sidebar-collapsed .sidebar .main-menu li a {
  padding: 13px 5px;
}
.sidebar-collapsed .sidebar .main-menu li a i {
  width: 100%;
}
.sidebar-collapsed .sidebar .main-menu li.has-submenu > a:after {
  content: '';
  float: none;
}
.sidebar-collapsed .sidebar > .inner {
  display: none;
}
.sidebar-collapsed .sidebar .logo-container h1 {
  font-size: 13px;
}
.sidebar-collapsed .main-container {
  margin-left: 50px;
}
.sidebar-collapsed .sidebar .main-menu li {
  position: relative;
  overflow: visible;
}
.sidebar-collapsed .sidebar .main-menu li ul.submenu {
  position: absolute;
  top: 0;
  left: 48px;
  z-index: 99999;
  width: 201px;
  border-right: 1px solid #252b33;
}
.sidebar-collapsed .sidebar .main-menu li ul.submenu li {
  height: 47px;
}
.sidebar-collapsed .top-bar.fixed {
  margin-left: 50px;
  padding-left: 50px;
}
.sidebar-left {
  top: 0;
  left: 0;
  position: absolute;
  width: 250px;
  background-color: #252b33;
  float: left;
}
.sidebar-collapsed .sidebar-left {
  height: 100%;
}
.sidebar-left.fixed {
  position: fixed;
  z-index: 9999;
}
.logo-container {
  height: 80px;
  background-color: #25323f;
  text-align: center;
}
.logo-container > a {
  display: inline-block;
  margin: 0 auto;
}
.logo-container h1 {
  margin: 0;
  line-height: 80px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 0px;
}
.sidebar .inner {
  padding: 20px;
}
.sidebar .separator {
  margin: 0px 0px 20px 0px;
  background-color: #6c7a8c;
  height: 1px;
  width: 100%;
}
.responsive-menu {
  width: 100%;
}
.responsive-menu li {
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.responsive-menu li.child {
  padding-left: 5px;
  background-color: #191d23;
}
.responsive-menu li.child a:before {
  content: '\f101';
  font-family: 'FontAwesome';
  padding-right: 15px;
  color: #25323f;
}
.responsive-menu li a {
  width: 100%;
  text-align: left;
  display: inline-block;
  padding: 5px 20px;
}
.responsive-menu li a i {
  padding-right: 20px;
}
/**** Sidebar User Profile ****/
.sidebar-user-profile {
  padding: 20px;
  border-bottom: 1px dashed #8e9aa4;
}
.sidebar-user-profile .avatar {
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #25323f;
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
}
.sidebar-user-profile .ul-icons {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  margin-top: 15px;
  margin-left: 15px;
}
.sidebar-user-profile .ul-icons .user-info {
  color: #8e9aa4;
  font-size: 14px;
}
.sidebar-user-profile .ul-icons .icon-list li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.sidebar-user-profile .ul-icons .icon-list li a {
  border-radius: 50%;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #8e9aa4;
  text-align: center;
  line-height: 22px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.sidebar-user-profile .ul-icons .icon-list li a:hover {
  border-color: #25323f;
}
.sidebar-user-profile .ul-icons .icon-list li i {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}
/**** Progress Bar ****/
.sidebar .progress-bar-container,
.inbox-quota .progress-bar-container {
  margin-bottom: 15px;
}
.inbox-quota .progress-bar-container span,
.sidebar .progress-bar-container span {
  color: #6c7a8c;
  display: block;
}
.inbox-quota .progress-bar,
.sidebar .progress-bar {
  margin: 10px 0px;
  background-color: #191d23;
  border-radius: 20px;
  overflow: hidden;
  height: 5px;
  width: 100%;
}
.inbox-quota .progress-bar .progress,
.sidebar .progress-bar .progress {
  height: 5px;
  width: 60%;
  background-color: #a5c562;
  border-radius: 20px;
}
.sidebar .progress-bar .progress.blue {
  background-color: #91dff3;
}
.sidebar .progress-bar .progress.orange {
  background-color: #25323f;
}
.sidebar .progress-bar .progress.yellow {
  background-color: #fdc554;
}
/**** Main Menu ****/
.main-menu {
  margin: 0px 0px;
}
.main-menu li {
  border-left: 2px solid #252b33;
}
.main-menu li {
  overflow: hidden;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.main-menu li a {
  padding: 13px 20px;
  display: inline-block;
  width: 100%;
}
.main-menu li a i {
  width: 30px;
  text-align: center;
}
.main-menu li:hover {
  border-left: 2px solid #25323f;
}
.main-menu li a:hover {
  background-color: #e5e5e5;
}
.main-menu li.active {
  border-left: 2px solid #25323f;
}
.main-menu li.active a:hover,
.main-menu li.active:hover {
  background-color: #e5e5e5;
}
.main-menu li.active a {
  background-color: #191d23;
  color: #e5e5e5;
}
.main-menu li.has-submenu > a:after {
  content: '\f107';
  font-family: 'FontAwesome';
  float: right;
  color: #ffffff;
  font-size: 16px;
}
.main-menu li.active.has-submenu > a:after {
  content: '\f106';
}
.main-menu li.active ul.submenu {
  display: block;
}
.main-menu li ul.submenu {
  background-color: #191d23;
  display: none;
}
.main-menu li ul.submenu li a {
  border-top: 0px solid #e5e5e5;
}
.main-menu li ul.submenu li a {
  color: #6c7a8c;
  padding-left: 55px;
}
.main-menu li ul.submenu li:hover {
  border-left: 2px solid #191d23;
}
.main-menu li ul.submenu li a:hover {
  color: #e5e5e5;
  background-color: #e5e5e5;
}
/**** Content ****/
.top-bar {
  height: 80px;
  background-color: #ffffff;
}
.top-bar.fixed {
  position: fixed;
  top: 0;
  margin-left: 250px;
  padding-right: 250px;
  width: 100%;
  z-index: 99999;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.content.fixed-top-bar {
  padding-top: 80px;
}
.top-bar .icon-list li i {
  color: #8e9aa4;
  font-size: 18px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.top-bar .icon-list li a:hover i {
  color: #25323f;
}
.icon-list li a {
  position: relative;
}
.icon-list .notification {
  padding: 0px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 3px solid #ffffff;
  background-color: #25323f;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}
.top-bar .icon-list li {
  line-height: 80px;
  display: inline-block;
  padding: 0px 15px;
}
.content {
  padding-top: 0px;
}
body.no-margin-top > .content {
  margin-top: 0px;
}
body > .content {
  margin-top: 20px;
}
.top-bar.fixed .main-container {
  margin-left: 0px;
}
.main-container {
  margin-left: 250px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.main-container-top {
  margin-top: 15px;
}
.container {
  width: 100%;
}
.right-icons {
  text-align: right;
}
/**** Image Header ****/
.image-header {
  height: 235px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
.image-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 51, 0.9);
  z-index: 1100;
}
.image-header .background {
  height: 235px;
  background: url('../../_demo/header-image.jpg') top left no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.image-header .text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
}
.image-header .text h3,
.image-header .text h4 {
  margin: 0;
  color: #ffffff;
}
.image-header .text h3 {
  font-size: 32px;
  font-weight: bold;
}
.image-header .text h4 {
  font-size: 14px;
}
.image-header .holder {
  line-height: 235px;
  vertical-align: middle;
  height: 235px;
  padding: 0px 25px;
}
.image-header .holder .header-widget,
.image-header .holder .inner {
  display: inline-block;
  width: 100%;
}
.header-widget .icon {
  margin-left: -20px;
  color: #ffffff;
  line-height: normal;
  font-size: 24px;
}
.header-widget .description {
  color: #ffffff;
  line-height: normal;
  font-size: 12px;
}
/**** Widget Boxes ****/
.widget-box {
  border-radius: 2px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 0px 0px #e1e5e6;
  -moz-box-shadow: 0px 2px 0px 0px #e1e5e6;
  box-shadow: 0px 2px 0px 0px #e1e5e6;
}
.widget-box .counter {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}
.widget-box .counter.green {
  background-color: #a5c562;
}
.widget-box .counter.red {
  background-color: #ff503f;
}
.widget-box .counter.blue {
  background-color: #91dff3;
}
.widget-box .counter.yellow {
  background-color: #fdc554;
}
.widget-box .text {
  display: inline-block;
  max-width: 230px;
  height: 100px;
  vertical-align: top;
  line-height: 100px;
  padding: 0px 15px;
}
.widget-box .text div {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  line-height: normal;
  font-size: 20px;
  color: #8e9aa4;
  font-weight: 300;
}
.widget-box .text div span {
  display: block;
  font-size: 15px;
}
/**** Box ****/
.inbox.box {
  margin: 10px 0px;
}
.box {
  margin: 25px 0px;
}
.box-title {
  border-radius: 2px 2px 0px 0px;
  padding: 13px 20px 0px 20px;
}
.box-title {
  background-color: #ffffff;
}
.box-title.green {
  background-color: #a5c562;
  padding-bottom: 13px;
}
.box-title.red {
  background-color: #ff503f;
  padding-bottom: 13px;
}
.box-title.gray {
  background-color: #252b33;
  padding-bottom: 13px;
}
.box-title.light-blue {
  background-color: #91dff3;
  padding-bottom: 13px;
}
.box-title.yellow {
  background-color: #fdc554;
  padding-bottom: 13px;
}
.box-title.orange {
  background-color: #25323f;
  padding-bottom: 13px;
}
.box-title.purple {
  background-color: #8175c7;
  padding-bottom: 13px;
}
.box-title:after {
  content: '';
  clear: both;
  display: block;
}
.box-title span.gray {
  color: #8e9aa4 !important;
}
.box-title span {
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
}
.box-title span.subtitle {
  color: #ffffff;
  font-size: 12px;
}
.box-title.gray > a {
  color: #ffffff;
}
.box-title > a {
  float: right;
  color: #252b33;
  opacity: 0.3;
  font-size: 16px;
  padding-top: 5px;
}
.box-title > a:hover {
  color: #ffffff;
}
.box > .content {
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 0px 0px 2px 2px;
  -webkit-box-shadow: 0px 2px 0px 0px #e1e5e6;
  -moz-box-shadow: 0px 2px 0px 0px #e1e5e6;
  box-shadow: 0px 2px 0px 0px #e1e5e6;
  overflow: hidden;
}
.box > .content.no-background {
  background: transparent;
  box-shadow: none;
}
.box > .content.no-padding {
  padding: 0px;
}
/**** Content - Inbox ****/
.content-sidebar {
  background-color: #ffffff;
  border-radius: 2px;
  margin-top: 10px;
}
.content-sidebar .box {
  margin-top: 0px;
}
.content-sidebar .inner {
  padding: 30px;
}
.inbox-list {
  margin: 15px 0px;
}
.inbox-list li {
  padding: 6px 0px;
}
.inbox-list li a {
  display: block;
  padding: 0px 10px;
}
.inbox-list li:hover {
  background-color: #252b33;
}
.inbox-list li i {
  padding-right: 20px;
  font-size: 15px;
}
.inbox-list li .notification {
  float: right;
  padding: 3px 6px !important;
  margin-bottom: 0px !important;
  color: #252b33;
}
.notification {
  border-radius: 2px;
  padding: 3px 6px;
  background-color: #8e9aa4;
  font-size: 11px;
  color: #ffffff;
}
.notification.green {
  background-color: #a5c562;
}
.notification.blue {
  background-color: #91dff3;
}
.notification.red {
  background-color: #ff503f;
}
.notification.yellow {
  background-color: #fdc554;
}
/**** Content - Message View ****/
.message-actions li {
  padding: 0px 7px;
  display: inline-block;
}
.message-actions li a i {
  font-size: 16px;
}
.border-bottom {
  border-bottom: 1px solid #252b33;
}
.content .inner {
  padding: 10px 20px;
}
.content .inner .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
.attachment-list li {
  padding: 12px 5px;
  display: inline-block;
  text-align: center;
}
.attachment-list li img {
  display: block;
  padding-bottom: 4px;
}
.attachment-list li a {
  display: block;
}
/**** Buttons ****/
.btn-orange {
  background-color: #25323f;
  color: #ffffff;
  font-weight: bold;
}
.btn-yellow {
  background-color: #fdc554;
  color: #ffffff;
  font-weight: bold;
}
.btn-yellow:hover {
  color: #252b33;
}
.btn-gray {
  background-color: #252b33;
  color: #8e9aa4;
  font-weight: bold;
}
.btn-full {
  width: 100%;
}
/**** Placeholder ****/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8e9aa4;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8e9aa4;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8e9aa4;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #8e9aa4;
}
/**** Form Validation ****/
.form-control {
  height: 42px;
}
.form-control.success {
  border: 2px solid #a5c562;
  border-radius: 3px;
}
.form-control.warning {
  border: 2px solid #fdc554;
  border-radius: 3px;
}
.form-control.error {
  border: 2px solid #ff503f;
  border-radius: 3px;
}
/***** Message Boxes *****/
.message-box {
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  padding: 8px 14px;
  display: inline-block;
  overflow: hidden;
}
.message-box p {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.message-box i {
  display: inline-block;
  padding-right: 10px;
}
.message-box.info {
  background-color: #27a5f9;
}
.message-box.info p,
.message-box.info i {
  color: #ffffff;
}
/**** Forms ****/
.basic-form label {
  display: block;
  width: 100%;
  margin: 7px 0px;
}
.basic-form input,
.basic-form select,
.basic-form textarea {
  display: block;
  width: 100%;
  padding: 10px 12px;
  box-sizing: padding-box;
  border-radius: 5px;
  border: 1px solid #252b33;
}
.basic-form .btn {
  margin: 8px 0px;
}
/***** 404 Page *****/
.error-404 {
  text-align: center;
  margin-top: 100px;
}
.error-404 i {
  font-size: 180px;
  color: #80969c;
}
.error-404 h1 {
  color: #ff503f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 46px;
}
.error-404 h1 i {
  padding-right: 20px;
}
.error-404 h4 {
  font-weight: bold;
  padding-bottom: 30px;
}
.error-404 p {
  font-size: 14px;
  color: #80969c;
  font-weight: bold;
}
.error-404 a {
  color: #a5c562;
  font-weight: bold;
}
.error-404 a:after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  color: #0384ce;
  padding-left: 8px;
  font-size: 18px;
}
.error-404 .search-form {
  max-width: 320px;
  margin: 0 auto;
}
.error-404 .search-form .search {
  min-width: 220px;
  padding: 14px 10px;
  box-sizing: padding-box;
  background: url('../images/search-focus.png') 280px center no-repeat #ffffff;
  border: 1px solid #d9e0e1;
  text-align: center;
}
.error-404 .search-form .search:focus {
  outline: none !important;
}
.error-404 .search-form .search::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #80969c;
}
.error-404 .search-form .search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #80969c;
}
.error-404 .search-form .search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #80969c;
}
.error-404 .search-form .search:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #80969c;
}
/***** 500 Page *****/
.error-500 {
  text-align: center;
  margin-top: 100px;
}
.error-500 i {
  font-size: 180px;
  color: #80969c;
}
.error-500 h1 {
  color: #ff503f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 46px;
}
.error-500 h1 i {
  padding-right: 20px;
}
.error-500 h4 {
  font-weight: bold;
  padding-bottom: 30px;
}
.error-500 p {
  font-size: 14px;
  color: #a5c562;
  font-weight: bold;
}
.error-500 a {
  color: #a5c562;
  font-weight: bold;
}
.error-500 a:after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  color: #0384ce;
  padding-left: 8px;
  font-size: 18px;
}
/***** Weather Widgets *****/
.weather-widget.big {
  color: #ffffff;
}
.weather-widget.big .weather-icon {
  width: 50%;
  height: 200px;
  float: left;
  text-align: center;
  padding: 25px 25px;
}
.weather-widget .weather-icon .temperatures {
  display: block;
  margin-top: 15px;
}
.weather-widget .weather-icon span {
  font-size: 24px;
}
.weather-widget .weather-icon span.min {
  display: inline-block;
  width: 30%;
  text-align: left;
  vertical-align: top;
  margin-left: 10px;
}
.weather-widget .weather-icon span.max {
  display: inline-block;
  width: 30%;
  text-align: right;
  vertical-align: top;
  margin-right: 10px;
}
.weather-widget.big .weather-icon i {
  color: #ffffff;
  font-size: 56px;
}
.weather-widget.big .weather-status {
  width: 50%;
  float: right;
  text-align: center;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.weather-widget .weather-status .background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.5;
}
.weather-widget .weather-status .info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 200;
  padding: 20px;
  text-align: left;
}
.weather-widget .weather-status .info .date-time {
  padding-bottom: 20px;
  font-size: 14px;
}
.weather-widget .weather-status .info .city {
  font-size: 18px;
  font-weight: bold;
}
.weather-widget .weather-status .info .location {
  font-size: 14px;
}
.weather-widget .weather-status .info .weather-state {
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.weather-widget .weather-status .info span {
  display: block;
  width: 100%;
}
.weather-widget.big .weather-prediction:before {
  clear: both;
  display: block;
  content: '';
}
.weather-widget.dark .weather-prediction {
  background: url('../../_demo/images/new-york.png') center center;
  background-size: cover;
}
.weather-widget.big .weather-prediction ul {
  margin: 0px;
  padding: 20px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.weather-widget.big .weather-prediction ul li {
  display: inline-block;
  width: 19.5%;
  vertical-align: top;
}
.weather-widget.big .weather-prediction ul li span {
  display: block;
  text-align: center;
}
.weather-widget.big .weather-prediction ul li span.day {
  font-weight: bold;
  font-size: 16px;
}
.weather-widget.big .weather-prediction ul li span.icon {
  font-size: 28px;
}
.weather-widget.big .weather-prediction ul li span.temperature {
  font-size: 18px;
}
/***** Calendar Widget *****/
.calendar {
  clear: both;
}
.calendar .title-bar {
  background-color: #f86868 !important;
  color: #ffffff !important;
}
.calendar-widget table thead th,
.calendar-widget table tbody td {
  min-width: 0px !important;
}
.calendar-widget .ui-datepicker-inline {
  border-radius: 0px !important;
  border: 0px !important;
  background: none !important;
  padding: 10px 25px 20px 25px;
}
.calendar-widget .ui-datepicker-calendar {
  background-color: #a5b9be !important;
  border: 1px solid #dae0e2 !important;
}
.ui-datepicker th {
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 0px;
}
.ui-datepicker th span {
  font-size: 14px;
}
.calendar-widget .ui-datepicker-header {
  background: none;
  border: 0px;
  padding: 10px 0px;
}
.ui-datepicker .ui-datepicker-title {
  line-height: normal;
}
.calendar-widget .ui-datepicker-calendar tbody {
  background-color: #252b33 !important;
}
.calendar-widget .ui-datepicker-calendar tbody tr {
  border-bottom: 1px solid #dae0e2 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td:first-child {
  border-left: 0px solid #dae0e2 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td {
  border-right: 1px solid #dae0e2 !important;
  height: 50px;
}
.calendar-widget .ui-datepicker-calendar tbody td:last-child {
  border-right: 0px solid #dae0e2 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td a {
  color: #a0b5ba !important;
  background: none;
  border: 0px;
  height: 50px;
  line-height: 50px;
}
.calendar-widget .ui-datepicker-calendar tbody td:hover {
  background-color: #F86868 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td:hover a {
  color: #ffffff !important;
  font-weight: bold;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-current-day {
  background-color: #1abc9c !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
  color: #ffffff !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
  border: 0px !important;
  background: none !important;
  font-weight: bold !important;
  color: #ffffff !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-today a.ui-state-highlight {
  border: 0px !important;
  background: none !important;
  font-weight: bold !important;
  color: #F86868 !important;
}
.calendar-widget .ui-datepicker-calendar tbody td.ui-datepicker-today {
  background: transparent !important;
}
.calendar-widget .ui-datepicker-inline,
.calendar-widget .ui-datepicker-calendar {
  width: 100% !important;
}
.calendar-widget .ui-datepicker-calendar a {
  text-align: center !important;
}
.calendar-widget .ui-datepicker-calendar a:hover {
  background: none !important;
}
.calendar-widget .ui-datepicker-prev span {
  background: none !important;
  display: none !important;
}
.calendar-widget .ui-datepicker-prev {
  display: block !important;
  cursor: pointer !important;
  left: 0px !important;
  top: 0px !important;
  line-height: 36px;
}
.calendar-widget .ui-datepicker-prev:before {
  content: '\f053' !important;
  display: inline-block !important;
  font-family: 'FontAwesome' !important;
  color: #a5b9be !important;
  vertical-align: middle !important;
}
.calendar-widget .ui-datepicker-prev.ui-state-hover {
  left: 0px !important;
  top: 0px !important;
  border: 0px;
}
.calendar-widget .ui-datepicker-prev.ui-state-hover span {
  background: none !important;
}
.calendar-widget .ui-datepicker-next span {
  background: none !important;
  display: none !important;
}
.calendar-widget .ui-datepicker-next {
  display: block !important;
  cursor: pointer !important;
  right: 0px !important;
  top: 0px !important;
  text-align: right !important;
  background: none !important;
  line-height: 36px;
}
.calendar-widget .ui-datepicker-next:before {
  content: '\f054' !important;
  display: inline-block !important;
  font-family: 'FontAwesome';
  color: #a5b9be;
  text-align: right;
  vertical-align: middle;
}
.calendar-widget .ui-datepicker-next.ui-state-hover {
  right: 0px !important;
  top: 0px !important;
  border: 0px;
}
.calendar-widget .ui-datepicker-next.ui-state-hover span {
  background: none !important;
}
.calendar-widget .ui-datepicker-next:hover:before,
.calendar-widget .ui-datepicker-prev:hover:before {
  color: #f86868 !important;
}
.calendar-widget .ui-datepicker-title span {
  font-size: 13px !important;
  font-weight: bold !important;
  color: #a5b9be !important;
}
/***** Revenue Chart *****/
.chart-tooltip {
  border-radius: 3px;
  background-color: #233242 !important;
  border: 0px !important;
  color: #ffffff;
  padding: 10px 20px !important;
  font-size: 13px;
}
.chart.revenue .title-bar {
  margin-bottom: 20px;
}
.chart.revenue .title-bar i {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  padding-right: 15px;
}
.chart.revenue .title-bar h3 {
  color: #ffffff;
  margin: 0;
  display: inline-block;
}
.chart.revenue .flot-tick-label {
  font-weight: bold;
  color: #333;
  font-size: 12px;
}
.chart-area {
  padding: 15px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 94%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(94%, #f2f2f2), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 94%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 94%, #ffffff 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #f2f2f2 94%, #ffffff 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #ffffff 0%, #f2f2f2 94%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.chart-table .title-bar {
  margin-bottom: 3px;
  padding: 0px 0px 0px 10px;
  margin-top: 20px;
}
.chart-table .title-bar i {
  color: #2c3e50;
  display: inline-block;
  font-size: 20px;
  padding-right: 3px;
}
.chart-table .title-bar h5 {
  color: #2c3e50;
  display: inline-block;
  font-size: 18px;
}
.chart-table .monthly-sales-summary {
  padding: 0px 20px;
}
.chart-table .monthly-sales-summary .sales:after {
  clear: both;
  content: '';
  display: block;
}
.chart-table .monthly-sales-summary .month {
  width: 55%;
  display: inline-block;
  color: #91dff3;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 10px;
}
.chart-table .monthly-sales-summary .sales {
  width: 42%;
  display: inline-block;
  color: #91dff3;
  font-size: 13px;
  text-align: right;
  padding-bottom: 10px;
}
.chart-table .monthly-revenue-summary {
  padding: 0px 20px;
}
.chart-table .monthly-revenue-summary .sales:after {
  clear: both;
  content: '';
  display: block;
}
.chart-table .monthly-revenue-summary .month {
  width: 55%;
  display: inline-block;
  color: #ff503f;
  font-weight: bold;
  font-size: 13px;
  padding-bottom: 10px;
}
.chart-table .monthly-revenue-summary .sales {
  width: 42%;
  display: inline-block;
  color: #8ca2b7;
  font-size: 13px;
  text-align: right;
  padding-bottom: 10px;
}
/***** Google Maps *****/
.google-maps-container {
  height: 286px;
}
.google-maps-container > div {
  height: 100%;
}
/***** Profile Page *****/
.profile .title {
  border-bottom: 1px solid #252b33;
  padding-bottom: 10px;
  margin-bottom: 25px;
  vertical-align: middle;
}
.profile .title:after {
  clear: both;
  display: block;
  content: '';
}
.profile .title h3 {
  display: inline-block;
  vertical-align: middle;
  color: #7B8B9D;
}
.profile .title .share-profile {
  font-size: 13px;
  display: inline-block;
  float: right;
  vertical-align: middle;
  color: #7B8B9D;
  line-height: 26px;
}
.profile .title .share-profile:after {
  content: '\f045';
  font-family: 'FontAwesome';
  color: #5ecad4;
  font-size: 14px;
  padding-left: 8px;
}
.profile h3 {
  padding-bottom: 10px !important;
}
.profile .profile-data .profile-avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  display: inline-block;
}
.profile .profile-data .send-msg {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.profile .profile-data .send-msg .btn {
  margin-left: 0px !important;
  font-weight: normal;
  font-size: 12px;
}
.profile .icon-list {
  margin-left: 0;
  margin-top: 8px;
  padding: 0;
}
.profile .icon-list li {
  padding-bottom: 7px;
  font-size: 13px;
  color: #7b8b9d;
}
.profile .icon-list li i {
  color: #5ecad4;
  min-width: 25px;
  text-align: center;
}
.profile .icon-list li a {
  color: #7f95a9;
}
.profile .icon-list li a:hover {
  color: #5ECAD4;
}
.profile .profile-stats {
  margin: 10px -5px 10px -5px;
  padding: 0;
}
.profile .profile-stats li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 25px 0px;
}
.profile .profile-stats li p {
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  margin: 0;
  padding: 0;
}
.profile .profile-stats li h3 {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}
.profile .profile-stats li.followers {
  background-color: #0384ce;
}
.profile .profile-stats li.following {
  background-color: #1abc9c;
}
.profile .profile-stats li.projects {
  background-color: #a78ed7;
}
.profile .profile-stats li.courses {
  background-color: #f86868;
}
.profile .about-me {
  padding: 20px 0px;
}
.profile .about-me p {
  font-size: 13px;
}
.profile .about-me h3 {
  margin-bottom: 15px;
  font-size: 21px;
}
.profile .footer {
  border-top: 1px solid #252b33;
  padding-top: 10px;
  margin-top: 0px;
  vertical-align: middle;
}
.profile .footer h4 {
  line-height: 30px;
}
.profile .footer .profile-socials {
  text-align: right;
}
.profile .footer .profile-socials li {
  display: inline-block;
  padding-left: 5px;
}
.profile .footer .profile-socials li a {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: block;
  text-align: center;
}
.profile .footer .profile-socials li a i {
  line-height: 35px;
  color: #ffffff;
  font-size: 19px;
}
.profile .footer .profile-socials li a.facebook {
  background-color: #335397;
}
.profile .footer .profile-socials li a.twitter {
  background-color: #00c7f7;
}
.profile .footer .profile-socials li a.pinterest {
  background-color: #cc2127;
}
.profile .footer .profile-socials li a.google-plus {
  background-color: #dd4a38;
}
.profile .footer .profile-socials li a.linkedin {
  background-color: #0073b2;
}
.profile .footer .profile-socials li a.dribbble {
  background-color: #e04c86;
}
/***** Dark Profile *****/
.profile.dark .box-title,
.profile.dark .content {
  background-color: #233242;
}
.profile.dark p {
  color: #7f95a9;
}
.profile.dark .title,
.profile.dark .footer {
  border-color: #364b61;
}
.profile.dark .profile-data h3 {
  color: #ffffff;
}
.profile.dark .icon-list li {
  color: #7b8b9d;
}
.profile.dark .profile-stats li {
  background-color: #14202d !important;
  border-right: 1px solid #233242;
}
.profile.dark .profile-stats li:last-child {
  border-right: 0px;
}
.profile.dark .send-msg .btn {
  background-color: #36495e;
  color: #8093a6;
  border-color: #2b3e52;
}
.profile.dark .send-msg .btn:hover {
  background-color: #14202d;
  border-color: #2b3e52;
}
/***** Background Image Profile *****/
.profile.image .inner {
  background: url('../../_demo/images/profile-background-blurred.png') top left no-repeat transparent;
  background-size: cover;
}
.profile.image .title,
.profile.image .footer {
  border-color: #ffffff;
}
.profile.image .title h3,
.profile.image .title a,
.profile.image .title a:after {
  color: #ffffff;
}
.profile.image .profile-data h3 {
  color: #ffffff;
}
.profile.image .icon-list li {
  color: #ffffff;
}
.profile.image .icon-list li i {
  color: #ffffff;
}
.profile.image .icon-list li a {
  color: #ffffff;
}
.profile.image .icon-list li a:hover {
  color: #14202d;
}
.profile.image .profile-stats li p {
  color: #ffffff;
}
.profile.image .profile-stats li h3 {
  color: #ffffff;
}
.profile.image .profile-stats li.followers {
  background-color: rgba(3, 132, 206, 0.5);
}
.profile.image .profile-stats li.following {
  background-color: rgba(26, 188, 156, 0.5);
}
.profile.image .profile-stats li.projects {
  background-color: rgba(167, 142, 215, 0.5);
}
.profile.image .profile-stats li.courses {
  background-color: rgba(248, 104, 104, 0.5);
}
.profile.image .about-me h3,
.profile.image .about-me p {
  color: #ffffff;
}
.profile.image .footer h4 {
  color: #ffffff;
}
/***** Support Container *****/
.mail-container table.support {
  width: 100%;
}
.mail-container table.support tr td {
  padding: 10px 0px;
}
.mail-container table.support tr td.stared i.fa-star {
  color: #ffcc66;
}
.mail-container table.support span.tag {
  display: inline-block;
  padding: 3px 12px;
  color: #ffffff;
  background-color: #5d6574;
  font-size: 12px;
}
.mail-container table.support span.tag.urgent {
  background-color: #f14b94;
}
.mail-container table.support span.tag.normal {
  background-color: #329bd7;
}
.mail-container table.support tr.checked {
  background-color: #e9f5fb;
}
.mail-container table.support tr td:first-child {
  padding-left: 10px;
  width: 50px;
}
.mail-container table.support tr td:nth-child(2) {
  width: 40px;
  text-align: center;
}
.mail-container table.support tr td:nth-child(4) {
  width: 120px;
  text-align: center;
}
/***** Mail Page *****/
.mail-container .header {
  background-color: #ff503f;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.mail-container .header ul li {
  display: inline-block;
  padding-right: 15px;
  padding: 10px 15px;
  border-right: 1px solid #fff;
}
.mail-container .header ul li i {
  padding-right: 7px;
  font-size: 14px;
}
.mail-container .header ul li a {
  color: #fff;
}
.mail-container .header ul li a:hover {
  color: #252b33;
}
.mail-container .actions {
  padding: 15px;
}
.mail-container .actions ul li {
  background-color: #252b33;
  display: inline-block;
}
.mail-container .actions ul li i {
  color: #72879c;
}
.mail-container .actions ul li:first-child {
  padding: 6px 10px;
}
.mail-container .actions ul li a {
  padding: 6px 10px;
  display: block;
  color: #72879c;
}
.mail-container .actions ul li.no-bg {
  background-color: transparent;
  padding: 0px;
}
.mail-container .actions ul li button {
  margin: 0px !important;
  margin-bottom: 4px !important;
}
.mail-container .actions ul li input {
  width: 20px !important;
  margin: 0px !important;
}
.mail-container .actions ul li a:hover {
  background-color: #72879c;
  color: #252b33;
}
.mail-container .actions ul li a:hover i {
  color: #252b33;
}
.mail-container table.mail tr td {
  padding: 10px 0px;
}
.mail-container table.mail tr td.stared i.fa-star {
  color: #ffcc66;
}
.mail-container table.mail span.tag {
  display: inline-block;
  padding: 3px 12px;
  color: #ffffff;
  background-color: #5d6574;
  font-size: 12px;
}
.mail-container table.mail span.tag.social {
  background-color: #319bd7;
}
.mail-container table.mail span.tag.dribbble {
  background-color: #f14b94;
}
.mail-container table.mail span.tag.work {
  background-color: #60c36e;
}
.mail-container table.mail tr.checked {
  background-color: #e9f5fb;
}
.mail-container table.mail tr td:first-child {
  padding-left: 10px;
  width: 50px;
}
.mail-container table.mail tr td:nth-child(2) {
  width: 40px;
  text-align: center;
}
.mail-container table.mail tr td:nth-child(4) {
  width: 120px;
  text-align: center;
}
/***** Ticket *****/
.ticket {
  border-bottom: 1px dashed #c6ced0;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.ticket .user-info {
  text-align: center;
}
.ticket-id {
  margin-bottom: 20px !important;
}
form.mail-compose label {
  text-align: right;
  display: block;
  width: 100%;
}
/***** Message Boxes *****/
.message-box {
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
  padding: 8px 14px;
  display: inline-block;
  overflow: hidden;
}
.message-box p {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.message-box i {
  display: inline-block;
  padding-right: 10px;
}
.message-box.info {
  background-color: #27a5f9;
}
.message-box.info p,
.message-box.info i {
  color: #ffffff;
}
/***** Notifications *****/
.notification {
  border-radius: 3px;
  border: 0px solid;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #333333;
  padding: 20px 20px;
  margin-bottom: 10px;
}
.notification .close {
  line-height: 20px;
}
.notification strong {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  padding-right: 10px;
}
.notification-success strong {
  color: #3C763D;
}
.notification-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #3C763D;
}
.notification-warning strong {
  color: #8A6D3B;
}
.notification-warning {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
}
.notification-error strong {
  color: #A94442;
}
.notification-error {
  background-color: #F2DEDE;
  border-color: #EBCCD1;
  color: #A94442;
}
/***** Tabs *****/
.tab-pane {
  padding: 15px;
}
.nav-tabs.align-right li {
  display: inline-block;
  float: none;
}
.nav-tabs.align-right {
  text-align: right;
}
/***** Vertical Tabs *****/
.ui-tabs {
  background-color: transparent !important;
  background: none !important;
  border: 0px !important;
}
.ui-tabs-nav {
  border: 0px !important;
  background: none !important;
  width: 20% !important;
}
.nav-tabs {
  background-color: #8d9aaa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0px !important;
}
.nav-tabs li {
  margin-bottom: -2px !important;
}
.nav-tabs > li > a {
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  border: 0px;
  margin-right: 0px;
  font-size: 14px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
  font-weight: bold;
  color: #ffffff;
  border: 0px;
}
.nav-tabs > li.active > a {
  color: #8d9aaa;
  font-weight: bold;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 0px !important;
}
.ui-tabs-panel {
  width: 80% !important;
  padding: 5px 20px !important;
  background-color: #fff !important;
}
.vertical-tabs {
  margin-bottom: 20px;
}
.vertical-tabs .ui-tabs-panel {
  border-radius: 5px;
  padding: 12px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
}
.ui-tabs-panel h1,
.ui-tabs-panel h2,
.ui-tabs-panel h3,
.ui-tabs-panel h4,
.ui-tabs-panel h5 {
  margin: 0px 0px 8px 0px !important;
}
.ui-tabs-nav li a {
  font-size: 14px;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  border: 0px solid #dddddd !important;
  border-right: 0px !important;
  background-color: #ffffff !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
  color: #8d9aaa;
}
.ui-tabs-vertical .ui-tabs-nav li {
  border: 0px solid #dddddd;
  background: none !important;
  border-bottom-width: 0px !important;
  margin-top: 0px !important;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  color: #8d9aaa;
  font-weight: normal;
}
.ui-tabs-vertical .ui-tabs-nav li a i {
  padding-right: 10px;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
  color: #8d9aaa;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: 0px !important;
}
.ui-tabs-vertical {
  width: 100%;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
  /*background-color: #8d9aaa !important;*/
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
}
.ui-tabs-vertical.align-right .ui-tabs-nav {
  right: 0px;
  left: -2px;
}
.ui-tabs-vertical .ui-tabs-nav {
  position: relative;
  right: -2px;
  z-index: 9;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
  padding: 10px 8px 10px 20px !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
  padding: 20px 20px !important;
  float: right;
  width: 40em;
  position: relative;
  z-index: 99;
}
.ui-widget {
  font-size: inherit;
}
/***** Vertical Tabs - Align Right *****/
.vertical-tabs.align-right .ui-tabs-nav {
  float: right;
}
.vertical-tabs.align-right .ui-tabs-nav {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.vertical-tabs.align-right .ui-tabs-nav li {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/***** Vertical Tabs - Light Blue *****/
.vertical-tabs.light-green .ui-tabs-nav {
  background-color: #1abc9c !important;
}
.vertical-tabs.light-green .ui-tabs-nav li a {
  color: #ffffff;
}
.vertical-tabs.light-green .ui-tabs-nav li.ui-tabs-active a i {
  color: #1abc9c !important;
}
.vertical-tabs.light-green .ui-tabs-nav li.ui-tabs-active a {
  color: #8d9aaa !important;
}
/***** Accordions *****/
.ui-accordion {
  margin-bottom: 30px !important;
}
.ui-accordion .ui-accordion-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 0px solid #dddddd;
  background-color: #ffffff;
  color: #7f95a9;
  margin-bottom: 5px !important;
  padding: 12px 16px !important;
  font-weight: bold;
}
.ui-accordion .ui-accordion-header.ui-state-hover {
  background: #ffffff;
}
.ui-accordion .ui-accordion-header.ui-state-default {
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  background-image: none !important;
}
.ui-accordion .ui-accordion-header-active {
  margin-bottom: 0px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.ui-accordion .ui-accordion-content {
  margin-bottom: 7px;
  border: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 20px;
  background: none #ffffff;
  -webkit-box-shadow: 0px 3px 0px #dbdfe0;
  -moz-box-shadow: 0px 3px 0px #dbdfe0;
  box-shadow: 0px 3px 0px #dbdfe0;
  color: #7f95a9;
}
.ui-accordion .ui-accordion-header-icon {
  right: 20px;
  left: auto !important;
  background: none !important;
  text-indent: 0px !important;
}
.ui-accordion .ui-accordion-header-icon:after {
  content: '\f067';
  font-family: 'FontAwesome';
  color: #1abc9c;
  display: inline-block;
  font-size: 14px;
  text-indent: 0px !important;
}
.ui-accordion .ui-state-active .ui-accordion-header-icon:after {
  content: '\f068';
  font-family: 'FontAwesome';
  color: #7b8b9d;
  display: inline-block;
  font-size: 14px;
}
.ui-accordion .ui-accordion-open {
  background: none !important;
  text-indent: 0 !important;
}
.ui-accordion .ui-accordion-open:before {
  font-family: 'FontAwesome';
  content: '\f07c';
  display: inline-block;
  font-size: 14px;
  color: #2c3e50;
}
.ui-accordion .ui-accordion-close {
  background: none !important;
  text-indent: 0 !important;
}
.ui-accordion .ui-accordion-close:before {
  font-family: 'FontAwesome';
  content: '\f07b';
  display: inline-block;
  font-size: 14px;
  color: #2c3e50;
}
.ui-accordion .ui-accordion-close {
  font-family: 'FontAwesome';
}
.ui-accordion h3 i {
  padding-right: 10px;
}
/*** Invoice ***/
.invoice-header .row {
  border-bottom: 1px solid #252b33;
}
strong.big {
  font-size: 21px;
}
.invoice-box ul {
  margin: 20px 0px;
}
.invoice-box ul li {
  color: #8e9aa4;
  font-size: 14px;
}
/*** Basic Form ***/
.basic-form input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-top: 20px;
}
.basic-form .row {
  margin-bottom: 10px;
}
.basic-form .focused,
.basic-form input:focus {
  outline: 1px auto #91dff3 !important;
  outline-offset: 0px !important;
}
.basic-form .success {
  color: #333;
  border: 1px solid #61ae24 !important;
  background-color: #bde0a2;
}
.basic-form .warning {
  border: 1px solid #f38630 !important;
  background-color: #efd0b7;
}
.basic-form .error {
  border: 1px solid #d93240 !important;
  background-color: #e39097;
}
form .icheck-label {
  display: inline-block;
  width: auto !important;
  vertical-align: middle;
}
