#sidebar-ticker{
	padding:10px;
	/* height:350px; */
	background:white;
	border:1px solid red;
	overflow-x:hidden;
	overflow-y:scroll;
}

#sidebar-ticker .row{
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px solid gray;
}

#sidebar-ticker-container{
	background:#fff;
}

.add-ticker{
	color:white;
}

.nopadding{
	padding:0 !important;
}

.ticker-row{
	border-bottom:1px solid gray;
	margin-right: 0px;
}

#ticker-container{
	margin-top: 35px;
}