#image-gallery, #image-gallery-edit{
	position: fixed;
	width: 50%;
	top: 23%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.40);
	padding: 9px;
	left: 25%;
	max-height: 75%;
}
li div.thumbnail{
	width: 200px;
}