/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */

 @purple:#8175c7;
 @red:#ff503f;
 @green:#a5c562;
 @gray:#8e9aa4;
 @light-blue:#91dff3;
 @input-bottom-border:#e1e5e6;
 
 .box>.content .input-line-bottom {
   width: 100%;
   border:0px !important;
   border-bottom: 1px solid @input-bottom-border !important;
   padding: 8px 0px;
   margin: 4px 0px;
   color:@gray;
 }
 
 .box>.content .input-line-bottom:focus {
   border:0px !important;
   box-shadow: none !important;
   outline:0 !important;
   border-bottom: 1px solid @input-bottom-border !important;
   color:@gray;
 }
 
 .event-list .event {
   display: inline-block;
   width: 100%;
 }
 
 .fc-event.urgent,
 .event-list .urgent {
   background: @purple;
   border-radius:5px;
   color: #fff;
   font-weight: bold;
   padding: 4px 8px;
   margin-bottom: 5px;
   border:0px;
 }  
 
 .fc-event.every-day,
 .event-list .every-day {
   background: @green;
   border-radius:5px;
   color: #fff;
   font-weight: bold;
   padding: 4px 8px;
   margin-bottom: 5px;
   border:0px;
 }  
 
 .fc-event.deadlines,
 .event-list .deadlines {
   background: @red;
   border-radius:5px;
   color: #fff;
   font-weight: bold;
   padding: 4px 8px;
   margin-bottom: 5px;
   border:0px;
 } 
 
 .fc-button {
   background-color: @light-blue !important;
   background-image: none !important;
   color: #fff !important;
   text-shadow:none !important;
 }
 
 .fc-button .fc-text-arrow {
   color: #fff;
   text-shadow:none !important;
 }