.edit-contest{
	
}

#bg-light{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000;
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    width: 100%;
    height: 100%;
}