/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */

 @sidebar-background:#20252b;
 @background-color:#ecf0f1;
 @logo-background:#ff503f;
 @active-menu:#252b33;
 @hover-menu:#191d22;
 @menu-font:#4a5666;
 @active-menu-font:#ff503f;
 
 @orange:#ff503f;
 @green:#a5c562;
 @red:#ff503f;
 @light-blue:#91dff3;
 @yellow:#fdc554;
 @gray:#8e9aa4;
 @dark-gray:#252b33;
 @purple:#8175c7;
 
 @input-bottom-border:#e1e5e6;
 
 /***** Login Page *****/
 .login-page {
   background: url('../_demo/background.jpg') center center repeat;
   background-size: cover;
 }
 
 .login-box {
   border-radius:3px;
   background-color: #fff;
   margin: 0 auto;
   width: 320px;
   margin-top: 300px;
   overflow: hidden;
 }
 
 .login-box-title {
   background-color: #ffffff;
   padding:15px 25px;
   font-size: 18px;
   color:#fff;
   font-weight: 300;
   &.green { background-color: @green; padding-bottom: 13px; }
   &.red { background-color: @red; padding-bottom: 13px; }
   &.gray { background-color: @dark-gray; padding-bottom: 13px; }
   &.light-blue { background-color: @light-blue; padding-bottom: 13px; }
   &.yellow { background-color: @yellow; padding-bottom: 13px; }
   &.orange { background-color: @orange; padding-bottom: 13px; }
   &.purple { background-color: @purple; padding-bottom: 13px; }
 }
 
 .login-box-content {
   padding:20px;
 }
 
 .login-box-content label {
   padding: 10px;
   color:@dark-gray;
 }
 
 .login-box-content input {
   margin-bottom: 15px;
   width: 100%;
   border:0px;
   border-bottom: 2px solid @input-bottom-border;
   padding: 5px 10px;
   box-sizing: padding-box;
   border-radius:3px
 }
 
 .login-box-content input:focus {
   border-bottom-color: @red;
 }
 
 .login-box-content input[type="submit"] {
   background-color: #323a45;
   padding: 14px 10px;
   box-sizing: padding-box;
   color:#fff;
   border-bottom: 0px !important;
 }
 
 .login-box-content .half {
   width: 49%;
   display: inline-block;
 }
 
 .login-box-content .half.last {
   text-align: right;
 }