html {
overflow: hidden;
}

.responsive-bar {
  background-color:#20252b;
  padding: 10px 0px;
}

.responsive-bar strong {
  color:#fff;
}

.responsive-bar a.responsive-action {
  display: inline-block;
  height: 44px;
  vertical-align: middle;
  line-height: 44px;
  padding: 0px 8px;
}

.responsive-bar a.responsive-action i {
  font-size: 32px;
  color:#fff;
  vertical-align: middle;
}

.responsive-bar a.responsive-action.rotated {
   -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.purchase-bar a {
  padding: 0px 10px;
  line-height: 44px;
  display: inline-block;
  vertical-align: top;
}

.purchase-bar a i {
  font-size: 26px;
  vertical-align: middle;
}

#iframe {
  margin: 0 auto;
  display: block;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

body.switcher {
  background: url('../_demo/mirrored_squares.png') top left repeat;
}

@media (max-width:490px) {
  
      
    .purchase-bar a {
      display: block;
    }
  
}