/*
 * PixPro - Admin Dashboard
 * © 2014. All rights reserved by Creativico
 */

 @orange:#ff503f;
 @green:#a5c562;
 @red:#ff503f;
 @light-blue:#91dff3;
 @yellow:#fdc554;
 @gray:#8e9aa4;
 @dark-gray:#252b33;
 @background-color:#ecf0f1;
 @nth-element:#f5f9fa;

 .regular-table {
   width: 100%;
 }

 .regular-table th {
   font-weight: bold;
   color: @gray;
   padding: 7px 5px 7px 5px;
 }

 .regular-table p {
   margin: 0;
   color: @gray;
   font-weight: 400;
 }

 .regular-table p.subtitle {
   font-weight: 400;
 }

 .regular-table tbody tr {
   border-top:1px solid @background-color;
 }

 .regular-table tbody tr td {
   padding: 10px 5px;
   color:@gray;
   font-weight: bold;
 }

 .regular-table tbody tr td:last-child {
   text-align: right;
 }

 .regular-table tbody tr:nth-child(2n) {
   background-color: @nth-element;
 }

 .regular-table.non-stripped tbody tr:nth-child(2n) {
   background-color: transparent;
 }

 .label {
   border-radius:2px;
   background-color: @gray;
 }

 .label {
   &.red { background-color: @red; }
   &.yellow { background-color: @yellow; }
   &.green { background-color: @green; }
   &.light-blue { background-color: @light-blue; }
   &.orange { background-color: @orange; }
   &.gray { background-color: @gray; }
 }

 .regular-table tbody .actions a {
   padding: 0px 8px;
 }

 .regular-table.bordered th,
 .regular-table.bordered td {
   border-right: 1px solid #dedede;
   padding-left: 12px;
   padding-right: 12px;
 }

 .regular-table.bordered th:last-child,
 .regular-table.bordered td:last-child {
   border-right:0px;
 }

 .regular-table.hoverable tbody tr:hover {
   background-color: @nth-element;
 }