







<title>layout1-inline.html-inline</title>
<link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">

<style type="text/css">
/*
*Project:	B&M - Responsive email Template
*Version:	1.0
*Creat:		01/13/14 
*Author: 	digith 
*Website: 	http://themeforest.net/user/digith
*/

/* Client-specific Styles */
  #outlook a { padding: 0; }
  .ReadMsgBody { width: 100%; }
  .ExternalClass { width: 100%; }
  body { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }
  .yshortcuts, .yshortcuts a, .yshortcuts a:link, .yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span { text-decoration: none !important; border-bottom: none !important; background: none !important; }

@-webkit-keyframes backgroundanimate {
	0% { background-position: left top;}50% { background-position: right top;}100% { background-position:left top;}
}
@-moz-keyframes backgroundanimate {
	0% { background-position: left top;}50% { background-position: right top;}100% { background-position:left top;}
}

@-o-keyframes backgroundanimate {
	0% { background-position: left top;}50% { background-position: right top;}100% { background-position:left top;}
}
@keyframes backgroundanimate {
	0% { background-position: left top;}50% { background-position: right top;}100% { background-position:left top;}
}
@-webkit-keyframes backgroundanimate1 {
	0% { background-size: 101%;}50% { background-size: 151%;}100% { background-size:101%;}
}
@-moz-keyframes backgroundanimate1 {
	0% { background-size: 101%;}50% { background-size: 151%;}100% { background-size:101%;}
}

@-o-keyframes backgroundanimate1 {
	0% { background-size: 101%;}50% { background-size: 151%;}100% { background-size:101%;}
}
@keyframes backgroundanimate1 {
	0% { background-size: 101%;}50% { background-size: 151%;}100% { background-size:101%;}
}
.animation {
	background-position: center top; background-size:100% 100%;
	-webkit-animation: backgroundanimate 20s linear infinite;
	-moz-animation: backgroundanimate 20s linear infinite;
	-o-animation: backgroundanimate 20s linear infinite;
	animation: backgroundanimate 20s linear infinite;
}
.animation1 {
	background-position: center center; background-size:100% 100%;
	-webkit-animation: backgroundanimate1 20s linear infinite;
	-moz-animation: backgroundanimate1 20s linear infinite;
	-o-animation: backgroundanimate1 20s linear infinite;
	animation: backgroundanimate1 20s linear infinite;
}

/* Reset styles */
  body { width: 100% !important; margin: 0; padding: 0; }

/*link style*/
  a:hover { text-decoration:underline !important; }
  .button a:hover { text-decoration:none !important; }

/*background*/
  body { background-color: #32353c; }

/*startMedia@media only screen and (max-width: 599px) {/*endMedia*/
/*start480MediaNeiStart
table[class~=wrap]							{ width: 100% !important; }
table[class~=row]							{ width: 440px !important; }
table[class=footer-left]					{ width: 100% !important; }
table[class=footer-left] td					{ text-align: center !important; }
table[class=footer-right]					{ width: 100% !important; }
table[class=footer-right] td				{ text-align: center !important;}
td[class~=f]							{width:100% !important;display:block !important; float:none !important;margin:0 quto !important;height:50px !important;}
td[class~=col2],td[class~=col-1-3],td[class~=col-2-3]{ display:block !important; float:left !important;}
td[class~=col2]								{ width:100% !important;}
td[class~=col-1-3]							{ width:100% !important;}
td[class~=col-2-3]							{ width:100% !important;}
table[class~=col3]							{ width:80% !important;margin:0 auto !important; float:none !important;}
table[class~=logo]							{ width:100% !important;margin-bottom:10px !important;}
td[class~=menu-box]							{ height:40px !important;}
td[class~=header-content-td]				{ height:220px !important;}
td[class~=nH]								{ height:10px !important;}
img 										{ height: auto !important; }
img[class~=img]								{ width: 100% !important; height: auto !important; max-width:100% !important; display:block !important;}
img[class~=img_s2]							{ width:150px !important;}
img[class~=comment-border-img]				{ width:100% !important;}
table[class~=menu-tb]						{ float:none !important; margin:0 auto !important;}
table[class~=menu] td						{ text-align:center !important;}
td[class~=header]							{ padding-bottom:10px !important;}
td[class~=normal-L-td]						{ padding:20px !important;}
td[class~=banner-btn]						{ padding:5px 20px 10px !important;}
table[class~=col3] .general-img-td, table[class~=col3] .general-td{ padding-right:10px !important;}
td[class~=center]							{ text-align:center !important;padding:10px !important;}
td[class~=banner-text]						{ text-align:center !important;}
td[class~=LR-price]							{ padding-top:10px !important;padding-bottom:10px !important;}
td[class~=menu-box]							{ padding:0 !important;}
td[class~=space]							{ display:none !important;}
/*MediaNeiEnd*/
/*startMedia}/*endMedia*/
/*startMedia@media only screen and (max-width: 439px) {/*endMedia*/
/*start360MediaNeiStart
table[class~=wrap]							{ width: 100% !important; }
table[class~=row]							{ width: 100% !important; }
table[class~=menu-tb]						{ width:100% !important;}
table[class~=col3]							{ width:100% !important;}
img[class~=img_s2]							{ width:100px !important;}
table[class~=logo] img						{ max-width:100% !important;}
table[class~=menu] .content					{ padding: 4px 5px !important;}
/*MediaNeiEnd*/
/*startMedia}/*endMedia*/
/*startMedia@media only screen and (max-width: 339px) {/*endMedia*/
/*start320MediaNeiStart
table[class~=menu-tb]						{ width:100% !important;}
table[class~=logo] img						{ max-width:260px !important;}
table[class~=menu] .content					{ padding: 4px 5px !important;}
/*MediaNeiEnd*/
/*startMedia}/*endMedia*/
</style>






<div class="preheader" style="display:none; visibility:hidden; height:0px; font-size:0px; line-height:0px;">email Newsletter of this month.</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="BGtable" style="border-collapse: collapse;margin: 0;padding: 0;background-color: #32353c;height: 100%;width: 100%;">
  <tbody><tr>
    <td valign="top" class="BGtable-inner">
    
      <!-- start header-area -->
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="wrap dark" style="border-collapse: collapse;background-color: #25282f;width: 100%;margin: 0 auto;">
        <tbody><tr>
          <td class="header-modules">
            <div rev="header-1s" contenteditable="false" class="this-module" style="border: none; cursor: move; padding: 0px;"><!-- start ◆header-1s◆ --><div class="options" style="top: 180px; display: none;"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="header-1s">
            <layout label="header-1s">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="wrap header-img animation1" background="http://digith.net/b-m/img/header-bg1.jpg" style="border-collapse: collapse;background-image: url(http://digith.net/b-m/img/header-bg1.jpg);background-repeat: repeat;background-position: center top;background-size: 900px 400px;width: 100%;margin: 0 auto;">
              <tbody><tr>
                <td>
      <!--[if gte mso 9]>
      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
        <v:fill type="tile" src="http://digith.net/b-m/img/header-bg1.jpg" color="#1f2227" id="msoBG-1"></v:fill>
        <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
      <![endif]--><div>
                  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
                    <tbody><tr>
                      <td width="47%" height="80" class="header-td header f" style="padding: 10px;">
                  
                        <!--start logo-->
                        <table border="0" align="left" cellpadding="0" cellspacing="0" class="logo" style="border-collapse: collapse;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                          <tbody><tr>
                            <td height="60" align="center" style="padding: 0 10px;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/logo.png" alt="logo" width="104" height="37" mc:edit="logo" editable="true" label="logo" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                          </tr>
                        </tbody></table>
                  
                      </td>
                      <td width="53%" class="header-td header f" style="padding: 10px;">
                  
                        <!--start header menu-->
                        <table width="300" border="0" align="right" cellpadding="0" cellspacing="0" class="menu-tb" style="border-collapse: collapse;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                          <tbody><tr>
                            <td valign="middle" class="menu-box" style="height: 30px;padding: 15px 0;"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" class="menu" style="border-collapse: collapse;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                              <tbody><tr>
                                <td align="center" class="content home color" mc:edit="home" style="background-color: #04b99e;font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;-moz-border-radius: 4px;border-radius: 4px;padding: 5px 10px;"><singleline label="home"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Home</a></singleline></td>
                                <td align="center" class="content" mc:edit="content1" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;padding: 5px 10px;"><singleline label="content1"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Private Policy</a></singleline></td>
                                <td align="center" class="content" mc:edit="content2" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;padding: 5px 10px;"><singleline label="content2"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Contact</a></singleline></td>
                                <td align="center" class="content" mc:edit="content3" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;padding: 5px 10px;"><singleline label="content3"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Help</a></singleline></td>
                              </tr>
                            </tbody></table></td>
                          </tr>
                        </tbody></table></td>
                    </tr>
                  </tbody></table>
                  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
                    <tbody><tr>
                      <td height="270" align="center" class="header-content-td no-top" mc:edit="header-content" style="padding: 30px;padding-top: 0px;">
                      <h1 class="h1" style="font-family: Questrial,Arial,Tohama;color: #fff;font-weight: bold;vertical-align: baseline;font-size: 36px;line-height: 36px;margin: 0 0 10px !important;"><singleline label="h1-title">Responsive email Template</singleline></h1>
                      <h2 class="h2" style="font-family: Questrial,Arial,Tohama;color: #fff;font-weight: 400;vertical-align: baseline;font-size: 24px;line-height: 30px;margin: 0 0 5px !important;"><singleline label="h2-title">Multi-Usage and</singleline><br>
                        <singleline label="h2-title-r2"><span class="hlight2" style="color: #04b99e;"><strong>With Template Builder</strong></span></singleline></h2><br>
                      	<table border="0" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;">
                                <tbody><tr>
                                  <td class="header-button h3 thin white-border" mc:edit="big-button" style="font-family: Questrial,Arial,Tohama;color: #fff;font-weight: 300;vertical-align: baseline;font-size: 18px;line-height: 24px;border: #fff 1px solid;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 50px;"><singleline label="big-button"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline></td>
                                </tr>
                        </tbody></table>
                    </td>
                    </tr>
                  </tbody></table>
      </div><!--[if gte mso 9]>
        </v:textbox>
      </v:rect>
      <![endif]-->
                </td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆header-1s◆ -->
</div>
</td>
        </tr>
      </tbody></table>
      <!-- end - header-area -->
    
      <!-- start light module area -->
      <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="wrap light" style="border-collapse: collapse;background-color: #f4f7f9;width: 100%;margin: 0 auto;">
        <tbody><tr>
          <td class="main-modules">
<div rev="space15px" contenteditable="false"><!-- start ◆space15px◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="space15px">
            <layout label="space15px">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td height="15" class="small-img" style="font-size: 0px;line-height: 0px;border-collapse: collapse;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/spacer.gif" width="1" height="15" mc:edit="do-not-edit" editable="true" label="do-not-edit" style="border: 0;display: block;-ms-interpolation-mode: bicubic;"></td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆space15px◆ -->
</div>

<div rev="col3-icons-text-button" contenteditable="false" class="" style="border: none; cursor: move; padding: 0px;"><!-- start ◆col3-icons-text-button◆ --><div class="options" style="top: 93.5px; display: none;"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="col3-icons-text-button">
            <layout label="col3-icons-text-button">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td class="module-td" style="padding: 0 10px;">
                      
                  <!--start col3 big-icon+text row1-->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                    <tbody><tr>
                      <td>
                        
                        <!--col3 big-icon1 + text 1-->
                        <table width="192" border="0" align="left" cellpadding="0" cellspacing="0" class="col3" style="border-collapse: collapse;width: 192px;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                          <tbody><tr>
                            <td align="center" class="general-td" style="padding: 10px 10px 0 10px;padding-right: 9px;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/rocket.png" alt="icon1" width="55" height="61" class="hIcon" mc:edit="icon1" editable="true" label="icon1" style="border: 0;display: block;-ms-interpolation-mode: bicubic;width: 55px;height: 61px;max-width: 55px;max-height: 61px;">                            </td>
                          </tr>
                          <tr>
                            <td align="center" class="general-img-td content" mc:edit="content1" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;padding: 10px;padding-right: 9px;">
                              <h3 class="h3" style="font-family: Questrial,Arial,Tohama;color: #2f3a43;font-weight: 400;vertical-align: baseline;font-size: 18px;line-height: 24px;margin: 0 0 5px !important;"><singleline label="h3-title1"><a href="#" style="color: #04b99e;text-decoration: none;outline: none;">Aenean ligula dolor</a></singleline></h3>
                              <multiline label="content1"><p style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;margin: 0 0 10px !important;">Nunc at velit quis lectus nonummy eleifend. Curabitur eros.</p></multiline>
                              <table border="0" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;">
                                <tbody><tr>
                                  <td class="in content color" mc:edit="button-text" style="background-color: #04b99e;font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 17px;"><singleline label="button-text1"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/arrow.png" alt="arrow" width="12" height="18" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                                </tr>
                              </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                        <!--end col3 big-icon1 + text 1-->
                        
                        <!--col3 big-icon2 + text 2-->
                        <table width="192" border="0" align="left" cellpadding="0" cellspacing="0" class="col3" style="border-collapse: collapse;width: 192px;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                          <tbody><tr>
                            <td align="center" class="general-td" style="padding: 10px 10px 0 10px;padding-right: 9px;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/icon_gear.png" alt="icon2" width="55" height="61" class="hIcon" mc:edit="icon2" editable="true" label="icon2" style="border: 0;display: block;-ms-interpolation-mode: bicubic;width: 55px;height: 61px;max-width: 55px;max-height: 61px;"></td>
                          </tr>
                          <tr>
                            <td align="center" class="general-img-td content" mc:edit="content2" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;padding: 10px;padding-right: 9px;">
                              <h3 class="h3" style="font-family: Questrial,Arial,Tohama;color: #2f3a43;font-weight: 400;vertical-align: baseline;font-size: 18px;line-height: 24px;margin: 0 0 5px !important;"><singleline label="h3-title2"><a href="#" style="color: #04b99e;text-decoration: none;outline: none;">Aenean ligula dolor</a></singleline></h3>
                              <multiline label="content2"><p style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;margin: 0 0 10px !important;">Nunc at velit quis lectus nonummy eleifend. Curabitur eros.</p></multiline>
                              <table border="0" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;">
                                <tbody><tr>
                                  <td class="in content color" mc:edit="button-text" style="background-color: #04b99e;font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 17px;"><singleline label="button-text2"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/arrow.png" alt="arrow" width="12" height="18" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                                </tr>
                              </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                        <!--end col3 big-icon2 + text 2-->
                        
                        <!--col3 big-icon3 + text 3-->
                        <table width="192" border="0" align="center" cellpadding="0" cellspacing="0" class="col3" style="border-collapse: collapse;width: 192px;">
                          <tbody><tr>
                            <td align="center" valign="top" class="general-td" style="padding: 10px 10px 0 10px;padding-right: 9px;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/Shoping-cart.png" alt="icon3" width="55" height="61" class="hIcon" mc:edit="icon3" editable="true" label="icon3" style="border: 0;display: block;-ms-interpolation-mode: bicubic;width: 55px;height: 61px;max-width: 55px;max-height: 61px;"></td>
                          </tr>
                          <tr>
                            <td align="center" valign="top" class="content general-img-td" mc:edit="content3" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;padding: 10px;padding-right: 9px;">
                              <h3 class="h3" style="font-family: Questrial,Arial,Tohama;color: #2f3a43;font-weight: 400;vertical-align: baseline;font-size: 18px;line-height: 24px;margin: 0 0 5px !important;"><singleline label="h3-title"><a href="#" style="color: #04b99e;text-decoration: none;outline: none;">Aenean ligula dolor</a></singleline></h3>
                              <multiline label="content3"><p style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;margin: 0 0 10px !important;">Nunc at velit quis lectus nonummy eleifend. Curabitur eros.</p></multiline>
                              <table border="0" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;">
                                <tbody><tr>
                                  <td class="in content color" mc:edit="button-text" style="background-color: #04b99e;font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 17px;"><singleline label="button-text3"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/arrow.png" alt="arrow" width="12" height="18" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                                </tr>
                              </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                        <!--end col3 big-icon3 + text 3-->
                        
                      </td>
                    </tr>
                  </tbody></table>
                  <!--end col3 big-icon+text row1-->
                </td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆col3-icons-text-button◆ -->
</div>

<div rev="full-module-divider" contenteditable="false"><!-- start ◆full-module-divider◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="full-module-divider">
            <layout label="full-module-divider">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td height="15" class="small-img dashed-border" style="font-size: 0px;line-height: 0px;border-collapse: collapse;border-bottom: #d1d5df 1px dotted;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/spacer.gif" width="1" height="15" mc:edit="do-not-edit" editable="true" label="do-not-edit" style="border: 0;display: block;-ms-interpolation-mode: bicubic;"></td>
              </tr>
              <tr>
                <td height="15" class="small-img" style="font-size: 0px;line-height: 0px;border-collapse: collapse;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/spacer.gif" width="1" height="15" mc:edit="do-not-edit" editable="true" label="do-not-edit" style="border: 0;display: block;-ms-interpolation-mode: bicubic;"></td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆full-module-divider◆ -->
</div>

<div rev="full-title-2s" contenteditable="false"><!-- start ◆full-title-2s◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="full-title-2s">
            <layout label="full-title-2s">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td class="module-td" style="padding: 0 10px;">
                      
                  <!--title-->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                    <tbody><tr>
                      <td class="general-img-td h2" mc:edit="h2-title" style="font-family: Questrial,Arial,Tohama;color: #2f3a43;font-weight: 400;vertical-align: baseline;font-size: 24px;line-height: 30px;padding: 10px;"><singleline label="h2-title"><span class="hlight2" style="color: #04b99e;">»</span> Sed quis convallis ante, <span class="hlight2" style="color: #04b99e;">id rhoncus</span></singleline></td>
                    </tr>
                  </tbody></table>
                  
                </td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆full-title-2s◆ -->
</div>

<div rev="col2-left-img-text-1s" contenteditable="false"><!-- start ◆col2-left-img-text-1s◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="col2-left-img-text-1s">
            <layout label="col2-left-img-text-1s">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td class="module-td" style="padding: 0 10px;">
                      
                  <!--row1 col2 img+text-->
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                    <tbody><tr>
                    
                      <!--col1 img-->
                      <td valign="top" class="col2" style="width: 50%;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                          <tbody><tr>
                            <td class="general-img-td" style="padding: 10px;"><img src="http://placehold.it/360x200/0d6053/fff" alt="img" width="270" height="150" class="img" mc:edit="img" editable="true" label="img" hspace="0" vspace="0" border="0" style="border: 0;display: block;-ms-interpolation-mode: bicubic;width: 270px;height:auto;max-width: 270px;"></td>
                          </tr>
                        </tbody></table>
                      </td>
                      
                      <!--col2 text-->
                      <td valign="top" class="col2" style="width: 50%;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                          <tbody><tr>
                            <td class="general-img-td" style="padding: 10px;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                      <tbody><tr>
                        <td height="118" class="cols-content-td content wrap-border nH" mc:edit="content" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;border: #e1e4eb 1px solid;background-color: #ffffff;padding: 15px 20px;">
                          <h3 class="h3" style="font-family: Questrial,Arial,Tohama;color: #2f3a43;font-weight: 400;vertical-align: baseline;font-size: 18px;line-height: 24px;margin: 0 0 5px !important;"><singleline label="h3-title">Lorem ipsum dolor sit amet</singleline></h3>
                          <multiline label="content"><p style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;margin: 0 0 10px !important;">Lorem ipsum dolor sit amet ettincidunt elit est, consectetur adipiscing, ligula. </p></multiline>
                          <table border="0" align="left" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                            <tbody><tr>
                              <td class="in content color" mc:edit="button-text" style="background-color: #04b99e;font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 17px;"><singleline label="button-text"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/arrow.png" alt="arrow" width="12" height="18" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                              </tr>
                          </tbody></table>
                        </td>
                      </tr>
                  </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                      
                    </tr>
                  </tbody></table>
                  
                </td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆col2-left-img-text-1s◆ -->
</div>

<div rev="col2-left-img-text-1s" contenteditable="false"><!-- start ◆col2-left-img-text-1s◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="col2-left-img-text-1s">
            <layout label="col2-left-img-text-1s">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td class="module-td" style="padding: 0 10px;">
                      
                  <!--row1 col2 img+text-->
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                    <tbody><tr>
                    
                      <!--col1 img-->
                      <td valign="top" class="col2" style="width: 50%;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                          <tbody><tr>
                            <td class="general-img-td" style="padding: 10px;"><img src="http://placehold.it/360x200/0d6053/fff" alt="img" width="270" height="150" class="img" mc:edit="img" editable="true" label="img" hspace="0" vspace="0" border="0" style="border: 0;display: block;-ms-interpolation-mode: bicubic;width: 270px;height:auto;max-width: 270px;"></td>
                          </tr>
                        </tbody></table>
                      </td>
                      
                      <!--col2 text-->
                      <td valign="top" class="col2" style="width: 50%;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                          <tbody><tr>
                            <td class="general-img-td" style="padding: 10px;">
                              <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                      <tbody><tr>
                        <td height="118" class="cols-content-td content wrap-border nH" mc:edit="content" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;border: #e1e4eb 1px solid;background-color: #ffffff;padding: 15px 20px;">
                          <h3 class="h3" style="font-family: Questrial,Arial,Tohama;color: #2f3a43;font-weight: 400;vertical-align: baseline;font-size: 18px;line-height: 24px;margin: 0 0 5px !important;"><singleline label="h3-title">Lorem ipsum dolor sit amet</singleline></h3>
                          <multiline label="content"><p style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #56616a;-webkit-font-smoothing: antialiased;margin: 0 0 10px !important;">Lorem ipsum dolor sit amet ettincidunt elit est, consectetur adipiscing, ligula. </p></multiline>
                          <table border="0" align="left" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                            <tbody><tr>
                              <td class="in content color" mc:edit="button-text" style="background-color: #04b99e;font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 17px;"><singleline label="button-text"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/arrow.png" alt="arrow" width="12" height="18" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                              </tr>
                          </tbody></table>
                        </td>
                      </tr>
                  </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                      
                    </tr>
                  </tbody></table>
                  
                </td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆col2-left-img-text-1s◆ -->
</div>

<div rev="space15px" contenteditable="false"><!-- start ◆space15px◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="space15px">
            <layout label="space15px">
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td height="15" class="small-img" style="font-size: 0px;line-height: 0px;border-collapse: collapse;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/spacer.gif" width="1" height="15" mc:edit="do-not-edit" editable="true" label="do-not-edit" style="border: 0;display: block;-ms-interpolation-mode: bicubic;"></td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆space15px◆ -->
</div>

<div rev="color-banner-1s" contenteditable="false"><!-- start ◆color-banner-1s◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
            <div mc:repeatable="color-banner-1s">
            <layout label="color-banner-1s">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="wrap color" style="border-collapse: collapse;background-color: #04b99e;width: 100%;margin: 0 auto;">
              <tbody><tr>
                <td>
                  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
                    <tbody><tr>
                      <td class="module-td alone" style="padding: 15px 10px;">
                        
                        <!--row1 col-2-3 img + col-1-3 text-->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                          <tbody><tr>
                        
                            <!--col-2-3 img-->
                            <td width="380" valign="top" class="col-2-3" style="width: 380px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                              <tbody><tr>
                                <td class="general-img-td banner-text" mc:edit="banner-text" style="padding: 10px;">
                                  <h3 class="h3 thin" style="font-family: Questrial,Arial,Tohama;color: #fff;font-weight: 300;vertical-align: baseline;font-size: 18px;line-height: 24px;margin: 0 0 5px !important;"><singleline label="h3-title">Cras placerat tortor viverra eros gravida.</singleline></h3>
                                  <div class="h5" style="font-family: Questrial,Arial,Tohama;font-size: 14px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;vertical-align: baseline;"><singleline label="discription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</singleline></div>
                                </td>
                              </tr>
                            </tbody></table></td>
                        
                            <!--col-1-3 text-->
                            <td width="180" align="center" valign="middle" class="col-1-3" style="width: 200px;">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                                <tbody><tr>
                                  <td align="center" class="cols-content-td banner-btn" style="padding: 15px 20px;">
                                    <table border="0" align="center" cellpadding="0" cellspacing="0" class="button" style="border-collapse: collapse;display: inline-block;">
                                      <tbody><tr>
                                        <td class="in white-border h5" mc:edit="button-text" style="font-family: Questrial,Arial,Tohama;font-size: 14px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;vertical-align: baseline;border: #fff 1px solid;-moz-border-radius: 18px;border-radius: 18px;display: block;padding: 5px 17px;"><singleline label="button-text"><a href="#" style="color: #fff;text-decoration: none;outline: none;">Read More</a></singleline><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/arrow.png" alt="arrow" width="12" height="18" class="img-inline" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                                      </tr>
                                    </tbody></table>
                                  </td>
                                </tr>
                              </tbody></table>
                            </td>
                          </tr>
                        </tbody></table>
                      
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
            </tbody></table>
            </layout>
            </div>
            <!-- end - ◆color-banner-1s◆ -->
</div>
    
      <div rev="bottom1s" contenteditable="false"><!-- start ◆bottom1s◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="wrap gray" style="border-collapse: collapse;background-color: #656871;width: 100%;margin: 0 auto;">
        <tbody><tr>
          <td>
            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
              <tbody><tr>
                <td class="module-td alone" style="padding: 15px 10px;">
                      
                  <!--row1 img+text-->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                    <tbody><tr>
                      
                      <!--col1 img+text-->
                      <td valign="top" class="col2" style="width: 50%;"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                        <tbody><tr>
                          <td class="general-img-td content" mc:edit="bottom-left" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;padding: 10px;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/bottom-logo.png" width="98" height="35" alt="logo" mc:edit="logo" editable="true" label="logo" style="border: 0;display: block;-ms-interpolation-mode: bicubic;">
                            <multiline label="discription"><p style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;margin: 0 0 10px !important;">Lorem ipsum dolor sit amet, consectetur adipiscing elit et tincidunt ligula. </p></multiline>
                            <a href="#" style="color: #04b99e;text-decoration: none;outline: none;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/social-icon1.png" alt="social-icon1" width="32" height="32" class="img-inline social" mc:edit="social-icon1" editable="true" label="social-icon1" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;width: 32px;height: 32px;max-width: 32px;max-height: 32px;"></a><a href="#" style="color: #04b99e;text-decoration: none;outline: none;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/social-icon2.png" alt="social-icon2" width="32" height="32" class="img-inline social" mc:edit="social-icon2" editable="true" label="social-icon2" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;width: 32px;height: 32px;max-width: 32px;max-height: 32px;"></a><a href="#" style="color: #04b99e;text-decoration: none;outline: none;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/social-icon3.png" alt="social-icon3" width="32" height="32" class="img-inline social" mc:edit="social-icon3" editable="true" label="social-icon3" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;width: 32px;height: 32px;max-width: 32px;max-height: 32px;"></a><a href="#" style="color: #04b99e;text-decoration: none;outline: none;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/social-icon4.png" alt="social-icon4" width="32" height="32" class="img-inline social" mc:edit="social-icon4" editable="true" label="social-icon4" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;width: 32px;height: 32px;max-width: 32px;max-height: 32px;"></a><a href="#" style="color: #04b99e;text-decoration: none;outline: none;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/social-icon5.png" alt="social-icon5" width="32" height="32" class="img-inline social" mc:edit="social-icon5" editable="true" label="social-icon5" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;width: 32px;height: 32px;max-width: 32px;max-height: 32px;"></a><a href="#" style="color: #04b99e;text-decoration: none;outline: none;"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/social-icon6.png" alt="social-icon6" width="32" height="32" class="img-inline social" mc:edit="social-icon6" editable="true" label="social-icon6" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;width: 32px;height: 32px;max-width: 32px;max-height: 32px;"></a></td>
                        </tr>
                      </tbody></table></td>
                      
                      <!--col2 img+text-->
                      <td valign="top" class="col2" style="width: 50%;"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                        <tbody><tr>
                          <td class="general-img-td" mc:edit="bottom-right" style="padding: 10px;">
                          <h2 class="h2" style="font-family: Questrial,Arial,Tohama;color: #fff;font-weight: 400;vertical-align: baseline;font-size: 24px;line-height: 30px;margin: 0 0 5px !important;"><singleline label="address"></singleline>Address</h2>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                            <tbody><tr>
                              <td width="1%"><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/s-lable.png" alt="lable" width="17" height="14" class="img-inline" mc:edit="lable" editable="true" label="lable1" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                              <td class="content" mc:edit="content1" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;"><singleline label="add-r1">Your Street Name 123,</singleline></td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td class="content" mc:edit="content2" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;"><singleline label="add-r2">Your City Name, Country Name</singleline></td>
                            </tr>
                            <tr>
                              <td><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/s-phone.png" alt="phone" width="20" height="14" class="img-inline" mc:edit="lable2" editable="true" label="lable2" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                              <td class="content" mc:edit="content3" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;"><singleline label="tel">(999) 1234-5678</singleline></td>
                            </tr>
                            <tr>
                              <td><img src="http://rockstarcash.com/admintheme-dev2/html/light-full/images/s-website.png" alt="website" width="20" height="14" class="img-inline" mc:edit="lable3" editable="true" label="lable3" style="border: 0;display: inline;-ms-interpolation-mode: bicubic;vertical-align: -3px;"></td>
                              <td class="content" mc:edit="content4" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;"><singleline label="website"><a href="#*|LIST:URL|*" class="white" style="color: #fff;text-decoration: none;outline: none;">www.YourWebSite.com</a></singleline></td>
                            </tr>
                          </tbody></table></td>
                        </tr>
                      </tbody></table></td>
                      
                    </tr>
                  </tbody></table>
                  
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
      </tbody></table>
      <!-- end - ◆bottom1s◆ -->
</div>
    
      <div rev="footer" contenteditable="false"><!-- start ◆footer◆ --><div class="options"><div class="delete" title="Delete the Module">-</div><div class="duplicate" title="Duplicate the Module">+</div><div class="clear" title="If clear all, pls click left items to put modules in the proper position,do not use dragging to the page window.">Clear<br>All</div></div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="wrap dark" style="border-collapse: collapse;background-color: #25282f;width: 100%;margin: 0 auto;">
        <tbody><tr>
          <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="row footer" style="border-collapse: collapse;width: 600px;margin: 0 auto;">
            <tbody><tr>
              <td align="center" class="general-img-td content" mc:edit="content" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;padding: 10px;">
    
                <!--footer left-->
                <table border="0" align="left" cellpadding="0" cellspacing="0" class="footer-left" style="border-collapse: collapse;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                  <tbody><tr>
                    <td class="content" mc:edit="footer-left" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;text-align: left;"><singleline label="footer-left">Copyright © 2006 - 2014 B &amp; M.</singleline> </td>
                  </tr>
                </tbody></table>
    
                <!--footer right-->
                <table border="0" align="right" cellpadding="0" cellspacing="0" class="footer-right" style="border-collapse: collapse;border: none;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                  <tbody><tr>
                    <td class="content" mc:edit="footer-right" style="font-family: Questrial,Arial,Tohama;font-size: 13px;line-height: 20px;font-weight: 400;color: #fff;-webkit-font-smoothing: antialiased;text-align: right;"><webversion><a href="#*|ARCHIVE|*" style="color: #eee;text-decoration: none;outline: none;">Online Version</a></webversion> | <forwardtoafriend><a href="#*|FORWARD|*" style="color: #eee;text-decoration: none;outline: none;">Forward</a></forwardtoafriend> | <unsubscribe><a href="#*|UNSUB|*" style="color: #eee;text-decoration: none;outline: none;">Unsubscribe</a></unsubscribe></td>
                  </tr>
                </tbody></table>
                
              </td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table>
      <!-- end - ◆footer◆ -->
</div>
</td>
        </tr>
      </tbody></table>
      <!-- end light module area -->
      
    </td>
  </tr>
</tbody></table>





