/*
  change the two color properties to customize the theme
*/

#main-navigation li a, #filters li a, .content-box-icon, #content a, #sidebar a, .box-icon {
	color: #ebe6ef;
	-webkit-transition: color 500ms linear;
	-moz-transition: color 500ms linear;
	-o-transition: color 500ms linear;
	-ms-transition: color 500ms linear;
	transition: color 500ms linear
}

a.tagline-btn, a.box-btn, #filters li a.current, .form-btn, footer,.archive-title {
	background-color: #e03e33;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear
}