				.radio-name{
					margin-left: 10px;
					position: relative;
					top: 4px;
				}
				.radio-adjust{
					position: relative;
				}
				#msg-container{
					display: none;
					border: 1px solid #FF0000;
					background-color: #FF9999;
					color: #000;
					padding: 4px;
					margin-bottom: 5px;
				}
				#contact-form{
					text-align: left;
				}
				#contact-form input.input-field{
					width: 100%;
					height: 35px;
					font-size: 16px;
				}
				#contact-form label{
					font-size: 19px;
				}
				#contact-form input[type=checkbox]{
					width: 20px;
					height: 20px;
				}
				#contact-form .next, #contact-form .submit{
					margin-top: 15px;
					float: right;
				}
				#contact-form .prev{
					margin-top: 15px;
				}
				.ui-helper-hidden-accessible{
					display: none;
				}
				#contact-form label.error { 
					position: absolute;
					margin-left: 10px;
					background-color: rgb(255, 255, 255);
					border: 1px solid red;
					display: none;
					margin-top: -13px;
					font-size: 17px;
					width: 461px;
					padding: 5px;
				}
				.radio-name{
					margin-left: 10px;
					position: relative;
					top: 4px;
				}
				.radio-adjust{
					position: relative;
				}
				#msg-container{
					display: none;
					border: 1px solid #FF0000;
					background-color: #FF9999;
					color: #000;
					padding: 4px;
					margin-bottom: 5px;
				}
				.fb-btn{
					width: 200px;
					border: none;
					padding: 0;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}