
#mycarousel-2 {}

ul #mycarousel-2 li {position:relative;}

.jcarousel-skin-tango2 { padding:22px 0 0px 0px;}



.jcarousel-skin-tango2 .jcarousel-container {
    background: none;
    border: 0;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango2 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: transparent !important;
    color: #010101;
}

/*HORIZONTAL*/


.jcarousel-skin-tango2 .jcarousel-container-horizontal {
    width: 950px;

}

.jcarousel-skin-tango2 .jcarousel-container-horizontal .jcarousel-clip {
    
}

.jcarousel-skin-tango2 .jcarousel-clip-horizontal {
    width:  878px;
	margin-left:37px;
	
}

.jcarousel-skin-tango2 .jcarousel-clip-horizontal  .jcarousel-item {
    width: 110px;
}

.jcarousel-skin-tango2 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 18px;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango2 .jcarousel-next-horizontal {
    position: absolute;
    top: 42px;
    right: 4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/nextcar.png) no-repeat 0px 0;
	z-index:102;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-position: -19px 0;
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:hover {
    background-position: -19px 0;
}
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:hover {
    
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal {
    position: absolute;
    top: 42px;
    left:4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/prevcar.png) no-repeat -19px 0;
}

.jcarousel-skin-tango2 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-position: 0px 0px;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:hover {
    background-position: 0px 0px;
}
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:hover {
    
}

#mycarousel-3 { }


.jcarousel-skin-tango3 { padding:0px 0 0px 0px; margin-top:23px; }



.jcarousel-skin-tango3 .jcarousel-container {
    background: none;
    border: 0;
}

.jcarousel-skin-tango3 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango3 .jcarousel-clip {
    overflow: hidden;
}

ul #mycarousel-3 li {position:relative;}


/*HORIZONTAL*/


.jcarousel-skin-tango3 .jcarousel-container-horizontal {
    width: 950px;

}

.jcarousel-skin-tango3 .jcarousel-container-horizontal .jcarousel-clip {
    
}

.jcarousel-skin-tango3 .jcarousel-clip-horizontal {
    width:  880px;
	margin-left:37px;
	
}

.jcarousel-skin-tango3 .jcarousel-clip-horizontal  .jcarousel-item {
    width: 129px;
}

.jcarousel-skin-tango3 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right:20px;
}

.jcarousel-skin-tango3 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango3 .jcarousel-next-horizontal {
    position: absolute;
    top: 52px;
    right: 4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/nextcar.png) no-repeat 0px 0;
	z-index:102;
}

.jcarousel-skin-tango3 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-position: -19px 0;
}

.jcarousel-skin-tango3 .jcarousel-next-horizontal:hover {
    background-position: -19px 0;
}
.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal:hover {
    
}

.jcarousel-skin-tango3 .jcarousel-prev-horizontal {
    position: absolute;
    top: 52px;
    left:4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/prevcar.png) no-repeat -19px 0;
}

.jcarousel-skin-tango3 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-position: 0px 0px;
}

.jcarousel-skin-tango3 .jcarousel-prev-horizontal:hover {
    background-position: 0px 0px;
}
.jcarousel-skin-tango3 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango3 .jcarousel-prev-disabled-horizontal:hover {
    
}


#mycarousel-4 { }


.jcarousel-skin-tango4 { padding:0px 0 0px 0px; margin-top:9px; }



.jcarousel-skin-tango4 .jcarousel-container {
    background: none;
    border: 0;
}

.jcarousel-skin-tango4 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango4 .jcarousel-clip {
    overflow: hidden;
	position:relative;
}




.jcarousel-skin-tango4 .jcarousel-container-vertical {
    width: 460px;
    padding: 0px;
	position:relative;
}



.jcarousel-skin-tango4 .jcarousel-clip-vertical {
    width:  460px;
	height:340px;
	overflow: hidden;
	position:relative;
}

.jcarousel-skin-tango4 .jcarousel-clip-vertical .jcarousel-item {
    width: 460px;
	height:172px;
	margin-bottom:24px;
	background:url(../images/line-3.png) 0 bottom repeat-x;
}

.jcarousel-skin-tango4 .jcarousel-item-vertical {
	margin-left: 0;
    margin-right: 0px;
}

.jcarousel-skin-tango4 .jcarousel-direction-rtl .jcarousel-item-vertical {
	margin-left: 0px;
    margin-right: 0;
}

.jcarousel-skin-tango4 .jcarousel-item-placeholder {
    background: transparent !important;
    color: #000;
}


/*HORIZONTAL


.jcarousel-skin-tango4 .jcarousel-container-horizontal {
    width: 950px;

}

.jcarousel-skin-tango4 .jcarousel-container-horizontal .jcarousel-clip {
    
}

.jcarousel-skin-tango4 .jcarousel-clip-horizontal {
    width:  950px;
	margin-left:0px;
	
}

.jcarousel-skin-tango4 .jcarousel-clip-horizontal  .jcarousel-item {
    width: 151px;
}

.jcarousel-skin-tango4 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 9px;
}

.jcarousel-skin-tango4 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}
*/
/**
 *  vertical Buttons
 */
.jcarousel-skin-tango4 .jcarousel-next-vertical {
    position: absolute;
    top: 373px;
    right: 17px;
    width: 30px;
    height: 35px;
    cursor: pointer;
    background: transparent url(../images/nextcar_2.png) no-repeat -30px 0;
	z-index:102;
}

.jcarousel-skin-tango4 .jcarousel-direction-rtl .jcarousel-next-vertical {
    background-position: 0px 0;
}

.jcarousel-skin-tango4 .jcarousel-next-vertical:hover {
    background-position: 0px 0;
}
.jcarousel-skin-tango4 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango4 .jcarousel-next-disabled-vertical:hover {
    
}

.jcarousel-skin-tango4 .jcarousel-prev-vertical{
    position: absolute;
    top: 373px;
    right:47px;
    width: 30px;
    height: 35px;
    cursor: pointer;
    background: transparent url(../images/prevcar_2.png) no-repeat 0px 0;
}

.jcarousel-skin-tango4 .jcarousel-direction-rtl .jcarousel-prev-vertical {
    background-position: -30px 0px;
}

.jcarousel-skin-tango4 .jcarousel-prev-vertical:hover {
    background-position: -30px 0px;
}
.jcarousel-skin-tango4 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango4 .jcarousel-prev-disabled-vertical:hover {
    
}


#mycarousel-5 { }


.jcarousel-skin-tango5 { padding:0px 0 0px 0px; margin-top:18px; }



.jcarousel-skin-tango5 .jcarousel-container {
    background: none;
    border: 0;
}

.jcarousel-skin-tango5 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango5 .jcarousel-clip {
    overflow: hidden;
}

ul #mycarousel-5 li {position:relative;}


/*HORIZONTAL*/


.jcarousel-skin-tango5 .jcarousel-container-horizontal {
    width: 950px;

}

.jcarousel-skin-tango5 .jcarousel-container-horizontal .jcarousel-clip {
    
}

.jcarousel-skin-tango5 .jcarousel-clip-horizontal {
    width:  816px;
	margin-left:65px;
	
}

.jcarousel-skin-tango5 .jcarousel-clip-horizontal  .jcarousel-item {
    width: 266px;
}

.jcarousel-skin-tango5 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right:9px;
}

.jcarousel-skin-tango5 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango5 .jcarousel-next-horizontal {
    position: absolute;
    top: 124px;
    right: 4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/nextcar.png) no-repeat 0px 0;
	z-index:102;
}

.jcarousel-skin-tango5 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-position: -19px 0;
}

.jcarousel-skin-tango5 .jcarousel-next-horizontal:hover {
    background-position: -19px 0;
}
.jcarousel-skin-tango5 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango5 .jcarousel-next-disabled-horizontal:hover {
    
}

.jcarousel-skin-tango5 .jcarousel-prev-horizontal {
    position: absolute;
    top:124px;
    left:4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/prevcar.png) no-repeat -19px 0;
}

.jcarousel-skin-tango5 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-position: 0px 0px;
}

.jcarousel-skin-tango5 .jcarousel-prev-horizontal:hover {
    background-position: 0px 0px;
}
.jcarousel-skin-tango5 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango5 .jcarousel-prev-disabled-horizontal:hover {
    
}



#mycarousel-6 { }


.jcarousel-skin-tango6 { padding:0px 0 0px 0px; margin-top:18px; }



.jcarousel-skin-tango6 .jcarousel-container {
    background: none;
    border: 0;
}

.jcarousel-skin-tango6 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango6 .jcarousel-clip {
    overflow: hidden;
}

ul #mycarousel-6 li {position:relative;}


/*HORIZONTAL*/


.jcarousel-skin-tango6 .jcarousel-container-horizontal {
    width: 950px;

}

.jcarousel-skin-tango6 .jcarousel-container-horizontal .jcarousel-clip {
    
}

.jcarousel-skin-tango6 .jcarousel-clip-horizontal {
    width:  815px;
	margin-left:65px;
	
}

.jcarousel-skin-tango6 .jcarousel-clip-horizontal  .jcarousel-item {
    width: 815px;
}

.jcarousel-skin-tango6 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right:20px;
}

.jcarousel-skin-tango6 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango6 .jcarousel-next-horizontal {
    position: absolute;
    top: 129px;
    right: 4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/nextcar.png) no-repeat 0px 0;
	z-index:102;
}

.jcarousel-skin-tango6 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    background-position: -19px 0;
}

.jcarousel-skin-tango6 .jcarousel-next-horizontal:hover {
    background-position: -19px 0;
}
.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango3 .jcarousel-next-disabled-horizontal:hover {
    
}

.jcarousel-skin-tango6 .jcarousel-prev-horizontal {
    position: absolute;
    top: 129px;
    left:4px;
    width: 19px;
    height: 28px;
    cursor: pointer;
    background: transparent url(../images/prevcar.png) no-repeat -19px 0;
}

.jcarousel-skin-tango6 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    background-position: 0px 0px;
}

.jcarousel-skin-tango6 .jcarousel-prev-horizontal:hover {
    background-position: 0px 0px;
}
.jcarousel-skin-tango6 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango6 .jcarousel-prev-disabled-horizontal:hover {
    
}
