/* STYLES */

/* basics & reset */

body {
  color:#7d7d7d;
  background: #f5f5f5
}

a,a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:hover, a:active, a:focus, object, embed, input::-moz-focus-inner {
    outline:0
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
  color:#000
}

#main-navigation a,#tagline h2,.section-title {
  
  font-weight:400
}

section {
  margin:70px 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

blockquote, blockquote p { 
    font-size: 32px!important;
    font-style: normal;
    font-weight:bold;
    margin-bottom: 3px!important;
    margin-top: 1px;
    letter-spacing:-2px;
    line-height: 36px
}
blockquote { 
    margin: 0;
    padding: 0;
    clear: both;
    border-left:0!important;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
   
}
blockquote cite { display: block; font-size: 15px!important; font-weight:normal; letter-spacing:0;  color:#ffffff }
.section-odd blockquote cite, .section-odd blockquote cite a, .section-odd blockquote cite a:visited, .section-odd blockquote cite a:visited { color:#777 }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color:#fff }

label.error {
    display:none;
}

input.error,textarea.error {
    background:rgba(255, 0, 0, .5)
}

.center {text-align:center}

.vertical-spacer {
    display:block;
    float:left;
    width:100%;
    height:30px
}

.border-break {
    width:100%;
    height:1px;
    float:left;
    display:block;
    margin:5px 0;
    background:#fff;
    box-shadow:0 1px 1px #aaa;
}

.break-title {
    font-size: 12px;
    text-transform: uppercase;
    clear: both;
    display: block;
    width: 100%;
    border-bottom: 1px dotted #CCC;
    margin: 50px 0;
    letter-spacing: 4px;
    padding-bottom: 5px
}

.text-shadow {
 width: 739px; 
 height: 66px;
 height:4px; 
 color: #141414;
}

/* spacings */

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

.spacer {
    display:block;
    float:left;
    clear:both;
    width:100%;
    margin:20px 0
}

.clear {
    clear:both;
    height:0;
    margin:0;
    font-size: 1px;
    line-height: 0
}

.last {margin-right:0!important}

/* header */

header {
  max-height:100%;
  overflow:hidden;
}

.supervideo {
  width:100%;
  height:auto;
  max-width:100%;
  display: block;
}

#tagline {
  position:relative
}

#top {
  position:absolute
}

#top {
  background:rgba(0,0,0,.35);
  min-height:220px;
  text-align:center;
  padding-top:20px;
  width:100%
}

.fullwidth-slider #top {
  z-index:1
}

.slider-title {
  text-transform: uppercase;
  font-size: 52px!important;
  line-height: 57px;
  margin-bottom: 5px!important;
}

/* Caption style */
.flex-caption {
  padding: 50px;
  position: absolute;
  left: 50%;
  margin-left: -240px;
  top: 36.5%;
  color: #fffb00;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  background:rgba(0,0,0,.75);
  height:auto;
  text-align:center;
  width: 420px

}

.slider-title {
  font-size: 31px;
  margin-bottom: 16px
}

.slider-text {
  font-size: 12px;
  margin-bottom: 0
}

.fixed {
  position: fixed;
  top: -5px;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,.95);
  min-height: 75px;
  text-align: center;
  padding: 20px 0;
  z-index: 9999
}

.fixed #logo {
  float:left;
  width:120px;
  height:auto;
  margin-bottom: 0
}

.fixed #main-menu {
  float: right;
  margin-top:31px
}

.default {

}

.single #top {
  background:transparent;
  z-index:0;
  height:0
}

.archive #top, .category #top {
  background:transparent;
  z-index:0;
  min-height:0
}

.page-title {
  font-size: 39px
}

.single .fixed,.archive .fixed,.category .fixed, .single .default  {
  position: inherit!important;
  width: 100%;
  background: #000;
  min-height: 75px;
  text-align: center;
  padding: 20px 0;
  z-index: 9999;
  margin-top: 0px
}

.post-img {
  max-width:100%;
  width:100%;
  margin: 21px 0
}

.archive .post, .category .post {
  padding-bottom:50px;
  margin-bottom:50px;
  border-bottom:1px solid #ccc
}

/* author box */

.author-box {
  padding:15px;
  background:#f5f5f5;
  width:96%;
  display:block;
  float:left;
  clear:both;
  margin:30px 0
}

.author-social {
  font-size: 11px!important;
  margin: -13px 0 0 0!important
}

.author-social a {
  font-size:11px;
  margin:0
}

.author-box h4 {
  margin:15px 0 10px 0;
  text-transform:uppercase
}

.author-box p {
  margin-top:0;
  font-size:12px
}

.author-image {
  float:left;
  margin-right:15px;
  width: 128px;
  height: auto
}

/* social share */

.social-share {
  width:100%;
  display:block;
  float:left;
  clear:both
}

.social-share ul {
  list-style:none;
  margin:0;
  padding:0
}

.social-share ul li {
  float: left;
  margin: 0;
  padding: 0;
  min-width: 10%;
  max-width: 200px;
  width: 100px
}

/* comments */

#comments-title {
  margin:50px 0 10px 0
}

ul.commentlist { list-style:none; margin:0 0 1em; padding:0; text-indent:0;border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; }
ul.commentlist li { }
ul.commentlist li.alt { }
ul.commentlist li.bypostauthor {}
ul.commentlist li.byuser {}
ul.commentlist li.comment-author-admin {}
ul.commentlist li.comment {padding:1em; }
ul.commentlist li div.comment-author {}
ul.commentlist li div.vcard { font:normal 16px georgia,times,serif; }
ul.commentlist li div.vcard cite.fn { font-style:normal; font-weight: bold; color:inherit; margin-right:5px; font-size:14px}
ul.commentlist li div.vcard cite.fn a.url {}
ul.commentlist li div.vcard img.avatar {float:left; margin:0 15px 0 0; padding: 1px 1px 2px 1px;}
ul.commentlist li div.vcard img.avatar-32 {}
ul.commentlist li div.vcard img.photo {}
ul.commentlist li div.vcard span.says {}
ul.commentlist li div.commentmetadata {}
ul.commentlist li div.comment-meta { font-size:15px; }
ul.commentlist li div.comment-meta a { color:#ccc; }
ul.commentlist li p { font-size:11px; margin:0 0 1em; }
ul.commentlist li ul { font-size:11px; list-style:square; margin:0 0 1em 2em; }
ul.commentlist li div.reply { font-size:11px; }
ul.commentlist li div.reply a { font-weight:bold; }
ul.commentlist li ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ul.commentlist li ul.children li {}
ul.commentlist li ul.children li.alt {}
ul.commentlist li ul.children li.bypostauthor {}
ul.commentlist li ul.children li.byuser {}
ul.commentlist li ul.children li.comment {}
ul.commentlist li ul.children li.comment-author-admin {}
ul.commentlist li ul.children li.depth-2 { border-left:1px solid #555; margin:0 0 .25em .25em; }
ul.commentlist li ul.children li.depth-3 { border-left:1px solid #999; margin:0 0 .25em .25em; }
ul.commentlist li ul.children li.depth-4 { border-left:1px solid #bbb; margin:0 0 .25em .25em; }
ul.commentlist li ul.children li.depth-5 {}
ul.commentlist li ul.children li.odd {}
ul.commentlist li.even { background:#fff; }
ul.commentlist li.odd { background:#f6f6f6; }
ul.commentlist li.parent { }
ul.commentlist li.pingback { border-bottom:1px dotted #ccc; padding:1em; }
ul.commentlist li.thread-alt { }
ul.commentlist li.thread-even {}
ul.commentlist li.thread-odd {}

#commentform input {
  width: 300px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  padding:5px;
  margin:0 0 -10px 0;
  display:block
}

.form-allowed-tags {
  width:100%;
  font-size:11px
}

.form-allowed-tags code {
  display:block;
  margin-top:10px;
  clear:both;
  white-space:inherit;
}

#commentform label {
  width: 300px;
  margin:5px 0 5px 0;
  display: inline-block;
  zoom: 1;
  *display:inline;
  cursor:pointer
}

#comment-area {
  margin:0 0 10px 0;
  width:94%
}

#comment-area h3 {
  font-size: 19px;
  margin: 40px 0 -5px 0;
}

#comment {
  width: 550px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  padding:10px;
  margin:3px 0 10px 0
}

#submit {
  width:136px!important;
  font-size: 13px
}

img.avatar {
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 1px #999999;
  float:left;
  margin:0 7px 0 0;
}

ul.commentlist {
  border: 1px solid #eee;
  display: block;
  float: left;
  list-style: none;
  margin: 10px 0;
  width:100%;
  padding: 16px;
}

ul.commentlist li {
  float:left;
  width:95%;
  display:block;
  margin:10px 0 10px 0;
  font-size:12px;
  font-family:Georgia, Times New Roman, Times, serif;
  font-style:italic;
  color:#888888;
}

ul.commentlist li p {
  font-size:12px;
  font-family:Arial,Tahoma,Helvetica;
  line-height: 20px;
  font-style:normal;
  margin:10px 0 25px 0;
  overflow:hidden
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .single .fixed,.archive .fixed,.category .fixed {
    margin-top: -150px
  }
  #tagline {
    margin-top:0
  }
}

@-moz-document url-prefix() { 
  .single .fixed,.archive .fixed,.category .fixed {
    /*margin-top: -150px*/
  }
  #tagline {
    /*margin-top:50px*/
  }
}

.archive-title {
  background: #16a085;
  margin-top: 0px;
  padding: 25px 0
}

.archive-title h1 {
  margin: 0 0 0 65px;
  line-height: 48px;
  font-weight:bold;
  float:none;
  font-size: 38px;
  color: #fff;
  position:relative;
  z-index:10
}

/* Firefox 3.0+ */
#veinticinco,  x:-moz-any-link, x:default  { color: red  }

#content {
  margin-top:150px
}

/*  sidebar  */

.single #sidebar,.single #main-content {
  position: relative;
  z-index: 10;
}

#sidebar .widget {
  margin-bottom: 50px;
  display: block;
  clear: both
}

#sidebar h4 {
  font-size: 17px;
  margin-bottom: 20px
}

#searchform2 input {
  width:170px
}

#searchform2 .btn {
  margin-top: -9px;
  width: 55px;
  font-size: 13px;
  padding-left: 5px
}

#sidebar ul {
  list-style:none;
  margin:0;
  padding:0
}

#sidebar ul li {
  margin:0 0 -1px 0;
  padding:0
}

#sidebar ul li a {
  color:#aaa;
  text-transform:uppercase;
  font-size:12px
}

.tagcloud a {
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px!important;
  margin-bottom:10px
}

.tagcloud a {
  margin-left:15px;
  margin-right:10px;
  padding:0 10px 0 12px;
  color:#fff!important;
  background:#555;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
} 

.tagcloud a:before {
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #555 transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;    
}

.tagcloud a:after {
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #111;
  -webkit-box-shadow:-1px -1px 2px #111;
  box-shadow:-1px -1px 2px #111;
}

.tagcloud a:hover{background:#666;} 
.tagcloud a:hover:before{border-color:transparent #666 transparent transparent;}

/*--Wp calendar--*/

#wp-calendar {
  border: 1px solid #ddd;
  empty-cells: show;
  font-size: 14px;
  margin: 0;
  width: 100%;
  border-bottom:15px solid #ddd;
  padding-bottom:15px;
} 

#wp-calendar thead tr {
  background:#ddd
} 

#wp-calendar th {
  font-style: normal;
  text-transform: capitalize;
  padding:3px;
  text-align:center
} 

#wp-calendar td {
  color: #aaa;
  font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  letter-spacing: normal;
  padding: 2px 0;
  text-align: center;
}

#wp-calendar #today {
  background: #ddd;
  color: #111;
}

#wp-calendar caption {
  text-transform:uppercase;
  font-size:11px;
  margin-bottom:0;
  background: #F0F0F0;
  border: 1px solid #DDDDDD;
  border-bottom:0;
  padding:5px;
  border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  text-align:center
}

/*
  Caption
*/

.caption {
  z-index:500;
  position:absolute;
  bottom:-35px;
  left:0;
  height:30px;
  padding:5px 20px 0 20px;
  background:#000;
  background:rgba(0,0,0,.5);
  width:400px;
  font-size:1.3em;
  line-height:1.33;
  color:#fff;
  border-top:1px solid #000;
  text-shadow:none;
}

/* main navigation */

#main-menu {
  margin:50px 0 0 0;
  padding:0
}

#main-menu select {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

#main-navigation {
  margin:0;
  padding:0;
  list-style:none
}

#main-navigation li {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin: 0 50px 0 0
}

#main-navigation li:last-child {
  margin-right: 0
}

#main-navigation li a {
  text-transform:lowercase;
  text-decoration:none !important;
  font-size:24px;
  font-weight:400;
}

#main-navigation ul.drop>li>a.icon {
  background-image: url('images/plus-icon.png');
  background-repeat: no-repeat;
  background-position: 175px center;
  /*background-position: right center;*/
}

#main-navigation li.current-menu-item a {
  color:#ccc;
  text-decoration:none
}

#main-navigation li.current-menu-item li a {
  color:#ccc;
  border-bottom:0;
  padding-bottom:0;
  text-decoration:none
}

#main-navigation>li>a:hover {
  color:#aaa;
  text-decoration:none
}

/* navigation (dropdown) */

#main-navigation > li ul.drop li {
  padding: 0 20px 0px 5px;
}

#main-navigation > li ul.drop {
  margin:0 0 0 -17px!important;
  padding:42px 20px 20px 20px!important;
  width:200px;
  position:absolute;
  background:#000;
  display:none;
  text-align:left;
  color: #fff
}

#main-navigation > li ul.drop a {
  color: #fff !important
}

#main-navigation > li ul {
  background-color:#404040;
  z-index:999;
  padding:20px!important;
  border-radius:0 0 4px 4px;
  -moz-border-radius:0 0 4px 4px;
  -webkit-border-radius:0 0 4px 4px;
  -ms-border-radius:0 0 4px 4px;
  -o-border-radius:0 0 4px 4px
}

#main-navigation > li ul li {
  margin: 0;
  height: 30px
}

#main-navigation > li ul li a {
  font-size: 14px;
  line-height:32px;
  letter-spacing: 0;
  display: block;
  float: left;
  width: 100%;
  color:#fff;
  text-transform:none
}

#main-navigation > li ul li a:hover {
  color:#555!important
}

#main-navigation > li ul.drop ul {
    margin:0;
    padding:0;
    position:absolute;
    display:none;
    left:150px;
    margin-left: 75px !important;
    margin-top: -10px !important;
    top:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px
}

#main-navigation .subdrop {
  padding: 10px !important;
    border-top: 0px !important;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px
}

#main-navigation ul.subdrop li {
  padding: 0px 0px 0px 15px !important;
}

#main-navigation > li ul li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    width:100%
}​

.dummy {/* DO NOT REMOVE FOR THE LOVE OF ALLMIGHTY HE-MAN */}

#teaser {
  z-index: 9;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center
}

#teaser h2 {
  color: #fff;
  font-size: 59px;
  line-height: 69px;
  margin-bottom: 30px
}

/* tagline */

#tagline {
  background:#fff;
  border-bottom:1px solid #c7c7c7;
  min-height:115px;
  text-align: center
}

#tagline h2 {
  font-size:28px;
  font-weight:400;
  line-height:110px;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin: 0
}

a.tagline-btn {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  padding:10px 50px;
  color:#fff;
  text-transform:uppercase;
  font-size:17px;
  font-weight:bold;
  margin-left:15px;
  line-height: 35px
}

a:hover.tagline-btn {
  background-color:#000!important;
  color:#aaa;
  text-decoration:none
}

/* sections */

.section-heading {
  display:block;
  width:100%;
  margin:0 0 40px 0
}

.section-title {
  font-size: 62px;
  font-weight: bold;
  margin-bottom: -17px;
  letter-spacing: -5px;
  text-align: center;
  color: #555555
}

.section-subtitle {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase
}

/* content */

.special-box-inner {
  background:#fff;
  padding:30px;
  box-shadow:0 0 1px rgba(0,0,0,.35);
  -moz-box-shadow:0 0 1px rgba(0,0,0,.35);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,.35);
  -o-box-shadow:0 0 1px rgba(0,0,0,.35);
  -ms-box-shadow:0 0 1px rgba(0,0,0,.35);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear
}

.special-box-inner:hover {
  background-color:#111;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear
}

.special-box-inner:hover h3 {
  color:#fff
}

.box-title {
  font-size: 22px;
  margin-bottom: 21px;
  margin-top: 0;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 28px
}

.special-box-inner p {
  color: #777;
  font-size: 14px;
  margin-bottom: 21px;
  font-weight: normal;
  line-height: 23px
}

.special-box-inner .readmore {
  margin:10px 0 5px 0;
  float:left
}

.box {
  margin-top:5px
}

.boxes-right {
  margin-top: 20px
}

.inner {padding:50px}

.box-icon{
  float: left;
  margin-right: 20px;
  font-size: 70px;
  color: #d1d1d1;
  padding-bottom: 70px
}

.box h3,.box p {
  margin: 0;
  padding-left: 95px;
}

.cont-background {
  box-shadow:0 0 1px rgba(0,0,0,.35);
  -moz-box-shadow:0 0 1px rgba(0,0,0,.35);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,.35);
  -o-box-shadow:0 0 1px rgba(0,0,0,.35);
  -ms-box-shadow:0 0 1px rgba(0,0,0,.35);
  background:#fff;
  padding: 0px 0 35px 0;
}

.content-box .inner {
  background:#fff;
  padding:30px;
  box-shadow:0 0 1px rgba(0,0,0,.35);
  -moz-box-shadow:0 0 1px rgba(0,0,0,.35);
  -webkit-box-shadow:0 0 1px rgba(0,0,0,.35);
  -o-box-shadow:0 0 1px rgba(0,0,0,.35);
  -ms-box-shadow:0 0 1px rgba(0,0,0,.35)
}

.content-box .inner:hover {
  background-color:#111;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear
}

.content-box .inner:hover h3 {
  color:#fff
}

.content-box {
  text-align:center;
  margin-bottom:50px
}


.content-box h3 {
  font-weight:400;
  font-size:28px
}

.content-box p {
  font-weight:400;
  font-size:16px
}

a.box-btn {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  padding:8px 30px;
  color:#fff!important;
  text-transform:uppercase;
  font-size:14px;
  font-weight:bold;
  line-height: 35px
}

a:hover.box-btn {
  background-color:#000!important;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color:#aaa!important;
  text-decoration:none
}

/* 7. portfolio */

#filters {
  list-style: none;
  margin: 0 0 50px 0;
  padding: 35px 0;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  background: #f1f1f1
}

#filters li {
  display: inline-block; zoom: 1; *display: inline;
  margin:0 70px 0 0
}

#filters li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 12px
}

#filters li a:hover {
  color:#555
}

#filters li a.current {
  color: #fff!important;
  padding:5px 12px;
}

#portfolio-gallery {
  margin-left:50px
}

.thumbnail>img {
  width: 100%
}

.thumbnails {
  margin-top: 40px
}

.portfolio-item {
  text-align: center;
  width: 360px;
  margin-left: 0px;
  margin-bottom: 15px;
  padding: 9px;
  position:relative
}

.portfolio-item img {
  width: 100%;
  height: auto
}

.portfolio-item a {

}

span.over {
  height: 258px;
  position: absolute;
  width: 360px;
  z-index: 1;
  background:#000;
  background:rgba(0,0,0,.45);
  left: 9px
}

.zoom-icon {
  width: 64px!important;
  height: 64px!important;
  position: absolute;
  top: 38%;
  left: 49%;
  border:0!important;
  box-shadow:none!important;
  -moz-box-shadow:none!important;
  -webkit-box-shadow:none!important;
  -ms-box-shadow:none!important;
  -o-box-shadow:none!important;
  border:0!important
}

.link-icon {
  width: 64px!important;
  height: 64px!important;
  position: absolute;
  top: 38%;
  left: 34%;
  border:0!important;
  box-shadow:none!important;
  -moz-box-shadow:none!important;
  -webkit-box-shadow:none!important;
  -ms-box-shadow:none!important;
  -o-box-shadow:none!important;
  border:0!important
}

.zoom-icon:hover, .link-icon:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5
}

.portfolio-details {
  background: #fefefe;
  border: 1px solid #eee;
  border-top: 0;
  border-bottom: 1px solid #ddd;
  min-height: 50px;
  margin-top: -10px;
  padding: 20px 35px;
  text-shadow:1px 1px #fff
}

.portfolio-category {
  font-weight:bold
}

.portfolio-title h3 {
  font-size: 23px;
  margin: 19px 0 -3px 0
}

.padding-left {
  padding-left:35px;
}

.inner {
  padding:35px 60px
}

.pull-top h3  {
  margin-top:0!important
}


.custom-section h3 {
  font-size:50px;
  font-weight:400;
  line-height:52px;
  margin-top:85px
}

.custom-section p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
  color: #9f9f9f
}

.align-right {
  float:right
}

.section-background {
  text-align:center;
  background-image:url(../images/section-background.jpg);
  background-repeat:no-repeat;
  background-position:bottom center;
}

.custom-section.section-centered h3 {
  margin-top: 0;
}

.section-centered {
  text-align:center
}

.cutoff {
  margin-bottom:-35px;
  text-align:center
}

.white-iphone {
  background-image:url(../images/center-aligned-image2.png);
  width: 344px;
  height: 485px;
  background-position: 0 0;
  margin-left: 35%;
}

.black-iphone {
  background-image: url(../images/center-aligned-image.png);
  width: 344px;
  height: 485px;
  background-position: 0 0;
  margin-left: 35%
}

.static-image img {
  margin-top: 105px;
  margin-left: 3px
}

.content-logo {
  margin-bottom:25px;
}

#contact_form input {
  width:100%;
  height: 35px
}

#contact_form textarea {
  width:100%;
  height: 175px
}

.captcha-container input {
  width: 67px!important;
  float: right;
  margin-right: -15px
}

.captcha-container span {
  margin-top: 10px;
  float: left
}

.form-btn {
  width: 103%!important;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
  height: 50px!important;
  margin-top: 7px;
  border: 0;
  float:left;
  display:block;
}

.form-btn:hover {
  background: #000;
  color: #aaa;
  text-decoration: none
}

.gmap {
  width: 525px;
  border: 5px solid #ccc;
  margin-left: -84px;
  margin-top: 5px
}

footer {
  padding:20px 0
}

footer p {
  margin: 5px 0 -5px 0;
  color: #fff
}

footer a {
  color: #fff
}

footer a:hover {
  color: #fff;
  text-decoration:underline
}

.copyright {
  float:left;
}

#footer-navigation {
  margin:0 0 0 0;
  padding:0;
  float:right
}

#footer-navigation li.current_menu_item a {
  color:#fff
}

#footer-navigation li {
  margin:0 7px 0 0;
  padding:0;
  list-style:none;
  float:left
}

#footer-navigation li a {
  color:#666;
  opacity: 0.5;
}

#footer-navigation li a img {
  width:24px;
  height:24px
}

#footer-navigation li a:hover {
  color:#888;
  text-decoration:none
}

#footer-navigation li:last-child {
  margin-right:0!important;
}

.last {margin-right:0!important;}

/* To top button */

#totop {
  position: fixed;
  visibility:hidden;
  z-index:99;
  bottom: 20px;
  right: 20px
}

#totop a {
  font-weight: normal;
  background-color:#fff;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear
  font-size: 23px;
  padding: 15px 20px;
  color: #fff!important;
  border: 0!important;
  background-image: none!important;
  text-decoration:none;
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  box-shadow: 0 0 1px rgba(0,0,0,.35);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,.35);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,.35);
  -o-box-shadow: 0 0 1px rgba(0,0,0,.35);
  -ms-box-shadow: 0 0 1px rgba(0,0,0,.35)
}

#totop a:hover {
  font-weight: normal;
  background-color:#000;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear
}

.animate {
  display: none;
}